<!-- <head>
 <link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/agency.css" rel="stylesheet">
</head>
 -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel" style="margin-top: -50px">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Meet the Danes</h1>        
            <h3>Authentic meals with good company</h3>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">Find a Host</button>
 -->       <%= link_to "Find a Host", experiences_path, class: "btn btn-hero btn-lg" %>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Become a Host</h1>        
            <h3>Wow guests with your food</h3>
        </hgroup>       
<!--         <button class="btn btn-hero btn-lg" role="button">Find out how</button>
 -->        <%= link_to "Be a Host", how_to_be_a_host_path, class: "btn btn-hero btn-lg"%>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Find out how it works</h1>        
            <h3>Learn about the benefits</h3>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">More info</button>
 -->         <%= link_to "Learn more", how_it_works_path, class: "btn btn-hero btn-lg" %>
      </div>
    </div>
  </div> 
</div>
<!-- <header>
  <div id="home" style="margin-top: -200px">
    <div class="container">
  	  <div class="intro-text">
        <div class="intro-lead-in">Welcome to..</div>
        <div class="intro-heading">Project NASI</div>
        <a href="experiences#index" class="page-scroll btn-xl" style="color:#660A0A">Browse Experiences</a>
      </div>
    </div>
  </div>
 -->
<!-- <div class="row">
    <div class="col-md-6">
      <h2> About Project NASI </h2>
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non porta sapien. Donec pulvinar pretium dolor a bibendum. Vivamus id nunc bibendum nibh suscipit porttitor at in erat.</p>
      <p><%= link_to "Learn more", how_it_works_path, class: "btn btn-default", style:"background-color:#fcd136" %></p>
    </div>

    <div class="col-md-6">
    <h3> You can be a host too! </h3>
      <p> Ut blandit tincidunt elit. Vestibulum dolor nibh, tincidunt nec ultricies sed, dignissim vel enim. Nulla vitae nulla a velit tincidunt elementum.</p>
      <p><%= link_to "Be a Host", how_to_be_a_host_path, class: "btn btn-default", style:"background-color:#fcd136"  %></p>

    </div> -->
</br>
</div>

<!-- <hr> -->
<!-- </header> -->
<div class="col-md-12" id="gradio">
    </br>
    </br>
      
      <div class="col-md-6 col-md-offset-1">
        <h2 style="text-align:center"> - COME MEET THE DANES - </h2>
        </br>
          <p style="text-align:center">Many nationalities visit Denmark every year. To give 
          our foreign guests a different and more personal experience of Denmark and Danes, Meet the Danes invites them to visit the Danes at their private homes. Here, the guests join the Danes in a homemade dinner and the guests experience the Danes and the Danish culture and lifestyle. Thousands of guests have visited our hosting families, and got a very personal experience of Denmark, and the Danes. During these dinners many of our hosts and guests from new friendships, and some hosts have been invited to visit their guests in their home country.
          </p>
        </br>
            <p style="text-align:center"><%= link_to "Learn more", how_it_works_path, class: "btn btn-default", style:"background-color:#fcd136; color:#660A0A"%>
            </p>
      </div>
 <!--  </div>
 -->
  <div class="col-md-4">
        <img class="img-circle" src="assets/denmark_dock.jpg" style="width:250px; height:250px; margin-top:20px; margin-bottom: 0px; margin-left: 90px">
      </div>

</div>

<div class="container-fluid">
 <!--  <div class="row">
    <div class='col-md-offset-2 col-md-8 text-center'>
    <h2>Testimonials</h2>
    </div>
  </div> -->
  </br>
  <div class='row'>
  </br>
  </br>
   <div class="col-md-4">
        <img class="img-circle" src="assets/111jjunkfood.jpg" style="width:350px; height:300px; margin-top:0px; margin-bottom: 10px; margin-left: 60px">
      </div>
    <div class='col-md-7' style="margin-left: 0px">
    <h2 style="text-align:center">What people are saying...</h2>
    </br>
    
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
     
  </div>

</div>
</br>
</br>
<!-- <div class="overlay2"></div> -->
  <div style="background-image:url('assets/greg.jpg'); background-attachment: fixed" id="pre_foot">
    <div class="col-md-12" style="text-align:center; margin-top:150px">
      
        
          <div class="col-md-6" style="">
          <%= link_to "Sign up as a guest", new_guest_registration_path, class: "btn-xl", style: "background-color:#1abc9c; color:#f5f5f5; margin-left: 200px" %> 
          </div> 

            <div class="col-md-6">
              <%= link_to "Sign up as a host", new_host_registration_path, class: "btn-xl", style: "color:#660A0A; margin-right: 200px; border: 1px solid; border-color: #fcd136"%>
            </div>
        </div>
    </div>
  </div>
<div style="clear:both;"></div>




