<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel" style="height: 600px">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="height: 600px">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero" style="width:100%">
        <hgroup>
          <!-- <h1><span class="maroon">Meet the Danes</span></h1> -->
          <!-- <h4>Authentic meals with good company</h4> -->
          <h3>More than 15,000 guests have...</h3>
        </hgroup>

      </div>
    </div>
     <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero" style="width:100%">
        <hgroup>
          
          <a href="#"><h3>Let's Connect</h3></a>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero" style="width:100%">
        <hgroup>
          
          <a href="#"><h3>Let's Connect</h3></a>
        </hgroup>

      </div>
    </div>
  </div>
</div>

<br>

<div class="col-md-12 col-sm-12 col-xs-12" id="gradio">
  <br><br>

  <div class="col-md-6 col-md-offset-1 col-sm-12">
    <h1 class="heads text-center">AWARD WINNING AGENCY</h1>
    <p class="para text-center">In 2003 Meet the Danes received a Danish award called the Initiative Award from “Fonden for Turismens Fællesråd”.In 2002 Meet the Danes received a prestigious International tourism award (British Guild of Travel Writers’ Silver Otter Award) for “BEST OVERSEAS TOURISM PROJECT”. An award we of course were very happy and proud to recieve. This recognition, which has been featured in media worldwide, has further increased the interest in our Meet the Danes events.
    </p>
    <h6 class="heads-sm text-center">COME MEET THE DANES</h6>
    <br>
    <p class="para text-center">Many nationalities visit Denmark every year. To give our foreign guests a different and more personal experience of Denmark and Danes, Meet the Danes invites them to visit the Danes at their private homes. Here, the guests join the Danes in a homemade dinner and the guests experience the Danes and the Danish culture and lifestyle. Thousands of guests have visited our hosting families, and got a very personal experience of Denmark, and the Danes. During these dinners many of our hosts and guests form new friendships, and some hosts have been invited to visit their guests in their home country.
    </p>
    <br>
    <p style="text-align:center; margin-bottom:40px"><%= link_to "Learn more", how_it_works_path, class: "btn btn-default", style:"background-color:#fcd136; color:#660A0A"%>
    </p>
  </div>
 <!--  </div>
 -->
  <div class="col-md-4 hidden-xs hidden-sm">
    <img class="img-circle" src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/medal.jpg" style="width:250px; height:250px; margin-top:20px; margin-bottom: 0px; margin-left: 90px">
  </div>

</div>

<div class="container-fluid" id="recent_events">
  <h3 class="heads">MEET THE HOSTS</h3>

  <% @hosts.each_with_index do |host, idx| %>
  <div class="row" style="padding:15px 30px;display:flex">

    <% if idx.even? %>
      <div class="col-md-4 thumbnail">
        <%= link_to image_tag(host.experiences.first.images.first.image_file.url(:medium)),
          host.experiences.first %>
      </div>
      <div class="col-md-4 text-center recent-host" style="">
        <%= link_to image_tag(host.images.first.image_file.url(:thumb),
            class: "img-circle"), host if host.images.present? %>
        <h3 class="heads-lt">
          <%= link_to host.username, host_path(host) %>
        </h3>
        <h4>HOST</h4>
        <%= link_to host.experiences.first.title, experience_path(host.experiences.first), class:"event-title" %><br>
        <%= content_tag :quote, host.experiences.first.description, class:"para" %>
      </div>
      <div class="col-md-4" >
      
      </div>
    <% else %>
      <div class="col-md-4">
       
      </div>
      <div class="col-md-4 text-center recent-host" style="">
        <%= link_to image_tag(host.images.first.image_file.url(:thumb),
            class: "img-circle"), host if host.images.present? %>
        <h3 class="heads-lt">
          <%= link_to host.username, host_path(host) %>
        </h3>
        <h4>HOST</h4>
        <%= link_to host.experiences.first.title, experience_path(host.experiences.first), class:"event-title" %><br>
        <%= content_tag :quote, host.experiences.first.description, class:"para" %>
      </div>
      <div class="col-md-4 thumbnail">
        <%= link_to image_tag(host.experiences.first.images.first.image_file.url(:medium)),
          host.experiences.first %>
      </div>
    <% end %>

   </div>
   <% end %>
</div>

<div class="container-fluid" style="background-color: #D4D4D4" id="host_party">
  <h3 class="heads">HOST PARTY</h3>
  <% @host_party.each do |experience| %>
    <div class="col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(experience.images.first.image_file.url(:medium)),
          experience if experience.images.present?%>

        <div class="caption" style="background-color: #FFF; height: 100%; padding:20px">

          <h3 class="heads-lt">
            <%= link_to experience.host.username,  host_path(experience.host) %>
          </h3>
          <h5 class="para">Description: </h5>
          <%= content_tag :quote, truncate(experience.description, length: 140) ,class:"para" %>

         <!--  <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a></p> -->
          <p>
            <%= content_tag :span, experience.date.strftime(" %B %d, %Y"), class:"fa fa-calendar fa-lg", style:"margin-top:10px; color:grey" %>
            <%= link_to 'Book Now', experience, class: "btn btn-danger btn-md pull-right", style: "color:#fff" %>
          </p>
        </div>
      </div>
      <br><br>
    </div>
  <% end %>
</div>
<!-- <div class="overlay2"></div> -->
<div style="background-image:url('assets/greg22.jpg'); background-attachment: fixed" id="pre_foot">
  <div class="center-block" id="join_us">
    JOIN OUR GROWING
    <hr style="width:50%">
    COMMUNITY  TODAY
  </div>
</div>





<div style="clear:both;"></div>
