<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel" >

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero" style="width:100%">
        <hgroup>
          <!-- <h1><span class="maroon">Meet the Danes</span></h1> -->
          <!-- <h4>Authentic meals with good company</h4> -->
          <h3 >More than 15,000 guests have already tried this authentic and great experience</h3>
        </hgroup>

      </div>
    </div>
     <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero" style="width:100%">
        <hgroup>
           <h3>Meet with locals, who will cook up a homemade dish, while you learn more about their culture and lifestyle</h3>
        </hgroup>

      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero" style="width:100%">
        <hgroup>

          <h3>Let's Connect</h3>
        </hgroup>

      </div>
    </div>
  </div>
</div>

<br>

<div id="award" style="background:#f9f9f9; margin-top:-20px;">
  <div class="container">
    <div class="row" >
      <br><br>

      <div class="col-md-4 col-sm-12 text-center pull-right">
        <img  src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/medal-2.png" style="height:auto; padding:0px;">
      </div>


      <div class="col-md-8 col-sm-12 ">
        <h1 class="heads text-center pad-bot" style ="color:#66a422;">AWARD WINNING AGENCY</h1>
        <p class="para text-justify">In 2003 Meet the Danes received a Danish award called the Initiative Award from “Fonden for Turismens Fællesråd”.</p><br>
        <p class="para text-justify" style="padding-bottom:40px">In 2002 Meet the Danes received a prestigious International tourism award (British Guild of Travel Writers’ Silver Otter Award) for “BEST OVERSEAS TOURISM PROJECT”. An award we of course were very happy and proud to recieve. This recognition, which has been featured in media worldwide, has further increased the interest in our Meet the Danes events.
        </p>
        <h6 class="heads-sm text-center" style ="color:#66a422;">COME MEET THE DANES</h6>
        <br>
        <p class="para text-justify">Many nationalities visit Denmark every year. <i>Meet the Danes</i> would like to give our foreign guests a unique, personal and more authentic experience of Denmark and above all the Danes “the happiest people in the world”*. We invite you to meet and dine with the locals in their homes. 
        </p>
        <p class="para text-justify">Here you join the local people, who will cook up a homemade dish for you, while you learn more about each other as well as the culture and lifestyle. We are sure they have some tales to tell you.
        </p>
        <p class="para text-justify">Thousands of visitors have met our hosting families and got a very personal experience. During these social dinners many of our hosts and guests form friendships.
        </p>
        <p class="para">Meet the Danes is an opportunity to meet and learn more about other people’s way of living. 
        </p>
        <p class="para text-justify small-font"><%= link_to "*http://www.visitdenmark.co.uk/en-gb/denmark/art/happiest-people-world","http://www.visitdenmark.co.uk/en-gb/denmark/art/happiest-people-world" %> </p>
        
        <br>
        <p style="text-align:center; margin-bottom:40px">
          <%= link_to "Learn more", how_it_works_path,
           class: "btn-lg learnmore", style:"background-color:#fff; border:1;" %>
        </p>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid" id="recent_events">
  <h3 class="heads" style="margin-left:15px">MEET THE HOSTS</h3>

  <% @hosts.each_with_index do |host, idx| %>
  <div class="row" style="padding:15px 30px;display:flex">

    <% if idx == 0 %>
      <div class="col-md-6 col-sm-8 hidden-xs thumbnail slice">
        <img src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/mad2_MTD.jpg" />
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12 recent-host" style="">
        <%= image_tag(host.images.first.image_file.url(:thumb),
            class: "img-circle") if host.images.present? %>
       
            <h3 class = "host_name"><%= host.username %></h3>
       
        <!-- <p class="pad-top-sm" style="line-height: 1px;font-size: 20px; font-weight: 600;"></p> -->
      <p class="pad-bot-sm pad-top-sm"><%= link_to host.experiences.first.title, experience_path(host.experiences.first), class:"event-title" %></p>  
    <p style="text-align: none"><sup><i class="fa fa-quote-left" style="font-size:6px;" ></i></sup>... <%= content_tag :quote, truncate(host.experiences.first.description, length: 50) , class:"para" %></p>

      </div>

      <div class="col-md-3 hidden-sm hidden-xs box1 marge-left" >
      </div>
    <% elsif idx == 1 %>

      <div class="col-md-3 hidden-sm hidden-xs box2">

      </div>
      <div class="col-md-3 col-sm-4 col-xs-12 recent-host" style="">
        <%= image_tag(host.images.first.image_file.url(:thumb),
            class: "img-circle") if host.images.present? %>
        
           <h3 class = "host_name"><%= host.username %></h3>

        <!-- <p class="pad-top-sm" style="line-height: 1px;font-size: 20px; font-weight: 600;"></p> -->
        <p class="pad-bot-sm pad-top-sm"><%= link_to host.experiences.first.title, experience_path(host.experiences.first), class:"event-title" %></p>
        <p style="text-align: none"><sup><i class="fa fa-quote-left" style="font-size:6px;"></i></sup>... <%= content_tag :quote, truncate(host.experiences.first.description, length: 50) ,class:"para" %></p>
      </div>
      <div class="col-md-6 col-sm-8 hidden-xs thumbnail slice">
        <img src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/Foto+mad+woco.jpg" />
      </div>
    <% elsif idx == 2 %>

      <div class="col-md-6 col-sm-8 hidden-xs thumbnail slice">
        <img src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/mad3_MTD.jpg" />
      </div>

      <div class="col-md-3 col-sm-4 col-xs-12 recent-host" style="">
        <%= image_tag(host.images.first.image_file.url(:thumb),
            class: "img-circle") if host.images.present? %>
       
          <h3 class = "host_name"><%= host.username %></h3>
        
        <!-- <p style="line-height: 1px;font-size: 20px; font-weight: 600;"></p> -->
        <%= link_to host.experiences.first.title, experience_path(host.experiences.first), class:"event-title" %><br>
       <p style="text-align: none;"><sup><i class="fa fa-quote-left" style="font-size:6px;"></i></sup>... <%= content_tag :quote, truncate(host.experiences.first.description, length: 50), class:"para" %></p>
      </div>

      <div class="col-md-3 hidden-sm hidden-xs box3" >
      </div>
    <% end %>

   </div>
   <% end %>
</div>

<% if Experience.special_events.present? %>
<div class="container-fluid" style="background-color: #e4e4e4" id="host_party">
  <h3 class="heads" style="margin-left:15px">HOST PARTY</h3>
  <% @host_party.each do |experience| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="thumbnail">
        <%= link_to image_tag(experience.images.first.image_file.url(:host_party)),
          experience if experience.images.present?%>

        <div id="thumbthumb" class="caption">
            <h3 class = "host_name"><%= experience.host.username %></h3>
             <quote class="para" >Description: </quote><br>
          <%= content_tag :quote, truncate(experience.description, length: 20) ,class:"para" %>...

         <!--  <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a></p> -->
          <div class="row" style="position: absolute; bottom: 0; padding: 10px; width:100%;">
            <%= content_tag :span, experience.date.strftime(" %B %d, %Y"), class:"fa fa-calendar col-xs-6", style:" color:#b4b4b4; line-height: 50px;" %>
           <div class="col-xs-6" style="color:#b4b4b4;   text-align: right;"> <span><i class="fa fa-arrow-left"></i> </span><span><%= link_to 'Book Now', experience, class: "btn btn-danger", style: "color:#fff; text-transform:uppercase; line-height: 35px;" %></span></div>
          </div>
        </div>
      </div>
      <br><br>
    </div>
  <% end %>
</div>
<% end %>
<!-- <div class="overlay2"></div> -->
<!-- <div style="background-image:url('https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/join-ourcom.jpg'); background-attachment: fixed" id="pre_foot"> -->
<img src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/carouselpictures/join-ourcom.jpg" style="height:100%;width:100%">
<!-- </div> -->

<div style="clear:both;"></div>
