<!-- <head>
 <link href="css/bootstrap.css" rel="stylesheet">
 <link href="css/agency.css" rel="stylesheet">
</head>
 -->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4500" id="bs-carousel" style="height: 600px">
  <!-- Overlay -->
<!--   <div class="overlay"></div>
 -->
  <!-- Indicators -->
  <!-- <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" style="height: 600px">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero" style="width:100%">
        <hgroup>
            <!-- <h1><span class="maroon">Meet the Danes</span></h1> -->
            <h4>Authentic meals with good company</h4>
            <a href="#"><h3>Let's Connect</h3></a>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">Find a Host</button>
 -->
 <!-- <%= link_to "Find a Host", experiences_path, class: "btn btn-hero btn-lg" %> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero" style="width:100%">
        <hgroup>
            <!-- <h1><span class="maroon">Become a Host</span></h1> -->
            <h4>Wow guests with your food</h4>
            <a href="#"><h3>Let's Connect</h3></a>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">Find out how</button>
 -->
 <!-- <%= link_to "Be a Host", how_to_be_a_host_path, class: "btn btn-hero btn-lg"%> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero" style="width:100%">
        <hgroup>
            <!-- <h1 style="margin-left:15px"><span class="maroon">Find out how it works</span></h1> -->
            <h4>Learn about the benefits</h4>
            <a href="#"><h3>Let's Connect</h3></a>
        </hgroup>
<!--         <button class="btn btn-hero btn-lg" role="button">More info</button>
 -->
 <!-- <%= link_to "Learn more", how_it_works_path, class: "btn btn-hero btn-lg" %> -->
      </div>
    </div>
  </div>
</div>

</br>
</div>

<div class="col-md-12 col-sm-12 col-xs-12" id="gradio">
    </br>
    </br>

      <div class="col-md-6 col-md-offset-1 col-sm-12">
        <h1 id="big_head">AWARD WINNING AGENCY</h1>
        <h2 id="small_head">COME MEET THE DANES</h2>
        </br>
          <p style="text-align:center">Many nationalities visit Denmark every year. To give
          our foreign guests a different and more personal experience of Denmark and Danes, Meet the Danes invites them to visit the Danes at their private homes. Here, the guests join the Danes in a homemade dinner and the guests experience the Danes and the Danish culture and lifestyle. Thousands of guests have visited our hosting families, and got a very personal experience of Denmark, and the Danes. During these dinners many of our hosts and guests form new friendships, and some hosts have been invited to visit their guests in their home country.
          </p>
        </br>
            <p style="text-align:center; margin-bottom:40px"><%= link_to "Learn more", how_it_works_path, class: "btn btn-default", style:"background-color:#fcd136; color:#660A0A"%>
            </p>
      </div>
 <!--  </div>
 -->
  <div class="col-md-4 hidden-xs hidden-sm">
        <img class="img-circle" src="assets/denmark_dock.jpg" style="width:250px; height:250px; margin-top:20px; margin-bottom: 0px; margin-left: 90px">
      </div>

</div>

<div class="container-fluid">
  <h3>RECENT EVENTS</h3>
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag @experiences.first.images.first.image_file.url(:medium) %>
    </div>
    <div class="col-md-3">
      <% if @experiences.first.host.images.present? %>
        <%= image_tag @experiences.first.host.images.first.image_file.url(:thumb), class: "img-circle" %>
      <% end %>
      <%= content_tag "h3", @experiences.first.host.username %>
      <h4>HOST</h4>
      <%= content_tag "quote", @experiences.first.description %>
    </div>
    <div class="col-md-2">
      some pic
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-1">
      some pic?
    </div>
    <div class="col-md-3">
      <% if @experiences.second.host.images.present? %>
        <%= image_tag @experiences.second.host.images.first.image_file.url(:thumb), class: "img-circle" %>
      <% end %>
      <%= content_tag "h3", @experiences.second.host.username %>
      <h4>HOST</h4>
      <%= content_tag "quote", @experiences.second.description %>
    </div>
    <div class="col-md-5">
      <%= image_tag @experiences.second.images.first.image_file.url(:medium) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <%= image_tag @experiences.third.images.first.image_file.url(:medium) %>
      </div>
    <div class="col-md-3">
      <% if @experiences.third.host.images.present? %>
        <%= image_tag @experiences.third.host.images.first.image_file.url(:thumb), class: "img-circle" %>
        <%= content_tag "h3", @experiences.third.host.username %>
        <h4>HOST</h4>
        <%= content_tag "quote", @experiences.third.description %>
      <% end %>
    </div>
    <div class="col-md-2">
      some pic?
    </div>
  </div>

</div>

<!-- <div class="overlay2"></div> -->
<div style="background-image:url('assets/greg22.jpg'); background-attachment: fixed" id="pre_foot">
  <div class="container center-block" style="text-align:center; margin-top:100px">
    <div class="col-md-3 col-md-offset-2 col-xs-12" style="height:80px;margin-top:100px">
      <%= link_to "Sign up as a guest", new_guest_registration_path, class: "btn-xl col-xs-12", style: "background-color:#1abc9c; color:#f5f5f5; margin-right: 0px" %>
    </div>

    <div class="" style="height:80px;margin-top:100px">
      <%= link_to "Sign up as a host", new_host_registration_path, class: "btn-xl col-md-3 col-md-offset-2 col-xs-12", style: "background-color:#660A0A; margin-right: 0px; border: 1px solid; border-color: #660A0A; color: #f5f5f5 "%>
    </div>
  </div>
</div>






<div style="clear:both;"></div>
