    <%= form_for(@guest) do |f| %>
      <% if @guest.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

          <ul>
          <% @guest.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

    <div class="col-md-12">
      <div class="col-md-6">

        <div class="field">
          <%= f.label :username %> <span class="red-asterix">*</span><br>
          <%= f.text_field :username, required: true, class: "form-control" %>
        </div>

        <div class="field">
            <%= f.label :title %> <span class="red-asterix">*</span><br>
            <%= f.text_field :title, required: true, class: "form-control" %>
        </div>

        <div class="field">
            <%= f.label :first_name %> <span class="red-asterix">*</span><br>
            <%= f.text_field :first_name, required: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :last_name %> <span class="red-asterix">*</span><br>
          <%= f.text_field :last_name, required: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :profession %> (Optional)<br />
          <%= f.text_field :profession , class: "form-control"%>
        </div>

         <div class="field">
            <%= f.label :interests %> <span class="red-asterix">*</span><br>
            <%= f.text_field :interests, required: true, class: "form-control" %>
        </div>

         <div class="field">
            <%= f.label :allergies %> <span class="red-asterix">*</span><br>
            <%= f.text_field :allergies, required: true, class: "form-control" %>
        </div>


        <div class="field">
            <%= f.label :languages %> <span class="red-asterix">*</span><br>
            <%= f.text_field :languages, required: true, class: "form-control" %>
        </div>

      </div>

      <div class="col-md-6">

        <div class="field">
            <%= f.label :nationality %> <span class="red-asterix">*</span><br>
            <%= f.collection_select :nationality, Nationality.all, :name, :name, {include_blank:""}, {class:'form-control', required: true,} %>
        </div>

        <div class="field">
            <%= f.label :country %> <span class="red-asterix">*</span>
            <%= f.collection_select :country, Country.all,:name, :name, {include_blank:""}, {class:"form-control", required: true,} %>
        </div>

         <div class="field">
          <%= f.label :dob%> (Date of Birth) <span class="red-asterix">*</span> <br>
          <%= f.date_select :dob, {:start_year => Date.today.year - 100, :end_year => Date.today.year}, {required: true,class:"form-control", style:"width:120px;display:inline"}%>
        </div>

        <div class="field">
          <%= f.label :about %> (Optional)<br />
          <%= f.text_area :about , class: "form-control"%>
        </div>

        <div class="">
          <%= f.label :image %> (Optional)<br>
          <div class="input-group">
            <span class="input-group-btn">
              <span class="btn btn-default upload-profile btn-file">
                Browse<%= f.file_field(:image_file) %>
              </span>
            </span>
            <input type="text" class="form-control" readonly>
          </div>
        </div>
        <br>
        <div>
          <small><span class="red-asterix">*</span> Indicates a required field</small>
        </div>
      </div>
    </div>
      </br>
      <div style="text-align:center" >
       <%= button_tag(type: 'submit', class: "btn btn-default btn-nice", id:"push_down") do %>
       Update my Profile!<% end %>
      </div>
    <% end %>
       <br>