<% if @guest == current_guest %>
<h3>Your guest account</h3>
<% end %>
<h4><%= @guest.username %><p>(<%= @guest.email %>)</p></h4>
<p>
	<strong>About Me:</strong><br />
	<%= @guest.about %>
</p>
<p>
  <strong>Profile image:</strong></br>
  <%=   image_tag @guest.image.url(:medium) %></br>
</p>

<%= button_to "Browse Experiences", experiences_path, :class => "inbox-sf-add-btn tip", :method => :get %>

<%= button_to "Edit Profile" , edit_guest_path, :class => "inbox-sf-add-btn tip", :method => :get %>

<%= button_to "Account Settings" , edit_guest_registration_path, :class => "inbox-sf-add-btn tip", :method => :get %>

