	<% if @guest == current_guest %>
		<h3 style="text-align:center">Your guest account</h3>

	  </br>
	<% end %>
<div class="container">
	<div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-0">

	<% if @guest.images.present? %>
		<%= image_tag @guest.images.first.image_file.url(:medium), class: "img-circle" %></br>
	<% else %>
		<%= image_tag "box.jpeg" %>
	<% end %>
	</br>

	<h4><%= @guest.username %><p>(<%= @guest.email %>)</p></h4>

	<% if @guest == current_guest %>
		<div class="btn-group" role="group">
			<%= link_to "Edit Profile" , edit_guest_path, :class => "btn btn-warning btn-sm" %>
			<%= link_to "Account Settings" , edit_guest_registration_path, :class => "btn btn-danger btn-sm" %>
		</div>
	<% end %>
	</div>
	<div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-3" style="">
		<% if @guest == current_guest %>
			<!-- <div class="field">
				<strong>Username: </strong> <%= @guest.username %>
			</div> -->
			<div class="field">
				<strong>Name: </strong>
				<%= @guest.title %> <%= @guest.first_name %> <%= @guest.last_name %>
			</div>
			<div class="field">
				<strong>Languages: </strong>
				<%= @guest.languages %>
			</div>
			<div class="field">
				<strong>Interests: </strong>
				<%= @guest.interests %>
			</div>
			<div class="field">
				<strong>Allergies:</strong>
				<%= @guest.allergies %>
			</div>
			<div class="field">
				<strong>Nationality: </strong>
				<%= @guest.nationality %>
			</div>
			<div class="field">
				<strong>Country: </strong>
				<%= @guest.country %>
			</div>
			<div class="field">
				<strong>Province: </strong>
				<%= @guest.province %>
			</div>
			<div class="field">
				<strong>About: </strong>
				<%= simple_format(@guest.about) %>
			</div>
			<br>
		<% end %>
	</div>
</div>
