<div class="container-fluid">
	<div class="row" style="padding:50px;">

		<div class="col-md-4 col-sm-5 col-xs-12" id="avatar_align">
			<br>
			<% if @guest.images.present? %>
				<%= image_tag @guest.images.first.image_file.url(:medium), class: "img-profile" %>
			<% else %>
				<%= image_tag "box.jpeg" %>
			<% end %>
			

			<%= content_tag :h3, @guest.username, class:"host_name" %>

			<% if @guest == current_guest %>
			<div class="row" id="host_controls">
					<%= link_to "Edit Profile" , edit_guest_path, :class => "btn btn-profile btn-warning btn-sm" %>
					<%= link_to "Account Settings" , edit_guest_registration_path, :class => "btn btn-profile btn-danger btn-sm" %>
			</div>
			<% end %>
		</div>

		<div class="col-md-8 col-sm-7 " id="card_container" style="background-color:#f3f3f3; padding:20px;">

			<div class="field">
				<strong>Name: </strong>
				<%= @guest.title %> <%= @guest.first_name %> <%= @guest.last_name %>
			</div>
			<div class="field">
				<strong>Profession: </strong>
				<%= @guest.profession %> 
			</div>
			<div class="field">
				<strong>Languages: </strong>
				<%= @guest.languages %>
			</div>
			<div class="field">
				<strong>Interests: </strong>
				<%= @guest.interests %>
			</div>
			<div class="field">
				<strong>Allergies:</strong>
				<%= @guest.allergies %>
			</div>
			<div class="field">
				<strong>Nationality: </strong>
				<%= @guest.nationality %>
			</div>
			<div class="field">
				<strong>Country: </strong>
				<%= @guest.country %>
			</div>
			<div class="field">
				<strong>Age: </strong>
				<%= @guest.age %>
			</div>
			<div class="field">
				<strong>About: </strong>
				<div class="pad-top">
				<%= simple_format(@guest.about) %>
				</div>
			</div>
		</div>

	</div>
  <% if host_signed_in? %>
	  <div align="center" class="pad-top pad-bot">
		<%= link_to 'Back', booking_index_path, class: 'btn btn-default', style: 'color: #fff' %>
		</div>
	<% end %>
</div>
<script>
<% if flash[:notice] %>
$(function(){
    function check_job_status(job_id){
    var request = $.ajax({
      type: "GET",
      url: '/guests/' + job_id
    });
    request.done(function(response){
      if (response === 'true'){
        location.reload();
      } else {
        setTimeout(function(){ check_job_status(job_id) }, 5000);
      }
    });
  };
  var id = <%= @guest.id %>
  check_job_status(id)
});
<% end %>
</script>