<% if @guest == current_guest %>
<h3>Your guest account</h3>
<% end %>
<h4><%= @guest.username %><p>(<%= @guest.email %>)</p></h4>
<p>
	<strong>About Me:</strong><br />
	<%= @guest.about %>
</p>
<p>
  <strong>Profile image:</strong></br>
  <%=   image_tag @guest.images.first.image_file.url(:medium) %></br>
</p>

<% if @guest == current_guest %>
	<%= link_to "Edit Profile", edit_guest_path(@guest) %>
<% end %>