<div id="listingadmins">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="">
        <h1 class="heads" style="color:#66a422;">Listing Requested Bookings</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Booking ID</th>
              <th>Guest</th>
              <th>Name of Experience</th>
              <th>Event Date</th>
              <th>Number of Guests</th>
              <th>Booking Created</th>
            </tr>
          </thead>

          <tbody>
            <% @requested_bookings.each do |booking| %>
              <tr class="text-left">
                <td><%= booking[0]%></td>
                 <td> <% if Guest.find(booking[1]) != nil %>
                    <%= Guest.find(booking[1]).first_name %> <%= Guest.find(booking[1]).last_name %>
                    <% end %>
                </td>
                <td> 
                  <% if Experience.find_by(id: booking[2]) != nil %>
                    <%= Experience.find(booking[2]).title %>
                  <% end %>
                </td>
                <td><%= booking[3] %></td>
                <td><%= booking[4] %></td>
                <td><%= booking[5] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="listingadmins">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="">
        <h1 class="heads" style="color:#66a422;">Listing Invited Bookings</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Booking ID</th>
              <th>Guest</th>
              <th>Name of Experience</th>
              <th>Event Date</th>
              <th>Number of Guests</th>
              <th>Booking Created</th>
            </tr>
          </thead>

          <tbody>
            <% @invited_bookings.reverse.each do |booking| %>
              <tr class="text-left">
                <td><%= booking[0]%></td>
                 <td> <% if Guest.find(booking[1]) != nil %>
                    <%= Guest.find(booking[1]).first_name %> <%= Guest.find(booking[1]).last_name %>
                    <% end %>
                </td>
               <td> 
                  <% if Experience.find_by(id: booking[2]) != nil %>
                    <%= Experience.find(booking[2]).title %>
                  <% end %>
                </td>
                <td><%= booking[3] %></td>
                <td><%= booking[4] %></td>
                <td><%= booking[5] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="listingadmins">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="">
        <h1 class="heads" style="color:#66a422;">Listing Confirmed Bookings</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Booking ID</th>
              <th>Guest</th>
              <th>Name of Experience</th>
              <th>Event Date</th>
              <th>Number of Guests</th>
              <th>Booking Created</th>
            </tr>
          </thead>

          <tbody>
            <% @confirmed_bookings.reverse.each do |booking| %>
              <tr class="text-left">
                <td><%= booking[0]%></td>
                 <td> <% if Guest.find(booking[1]) != nil %>
                    <%= Guest.find(booking[1]).first_name %> <%= Guest.find(booking[1]).last_name %>
                    <% end %>
                </td>
               <td> 
                  <% if Experience.find_by(id: booking[2]) != nil %>
                    <%= Experience.find(booking[2]).title %>
                  <% end %>
                </td>
                <td><%= booking[3] %></td>
                <td><%= booking[4] %></td>
                <td><%= booking[5] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="listingadmins">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="">
        <h1 class="heads" style="color:#66a422;">Listing Completed Bookings</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Booking ID</th>
              <th>Guest</th>
              <th>Name of Experience</th>
              <th>Event Date</th>
              <th>Number of Guests</th>
              <th>Booking Created</th>
            </tr>
          </thead>

          <tbody>
            <% @completed_bookings.reverse.each do |booking| %>
              <tr class="text-left">
                <td><%= booking[0]%></td>
                 <td> <% if Guest.find(booking[1]) != nil %>
                    <%= Guest.find(booking[1]).first_name %> <%= Guest.find(booking[1]).last_name %>
                    <% end %>
                </td>
               <td> 
                  <% if Experience.find_by(id: booking[2]) != nil %>
                    <%= Experience.find(booking[2]).title %>
                  <% end %>
                </td>
                <td><%= booking[3] %></td>
                <td><%= booking[4] %></td>
                <td><%= booking[5] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

       

