<div id="listingadmins">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="">
        <h1 class="heads" style="color:#66a422;">Listing Admins</h1>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @admins.each do |admin| %>
              <tr class="text-left">
                <td><%= admin.username %></td>
                <td><%= admin.email %></td>
                <td class="text-right">
                  <%= link_to 'Destroy', admin, class:"btn btn-sm red",
                   style:"color:#fff", method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="listinghost" style="background:#f9f9f9;">
  <div class="container-fluid">
  <div class="row" >
    <div class="col-md-12">
      <h1 class="heads" style="color:#66a422;" >Listing Hosts</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Host ID#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>ZIP and Town</th>
            <th>Region</th>
            
            <!-- <th>Username</th>
            <th>Email</th>
            <th>Country</th>
            <th>State</th>
            <th>Suburb</th> -->
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @hosts.each do |host| %>
            <tr class="text-left">
              <td><%= host.id %></td>
              <td><%= host.first_name %> <%= host.last_name %></td>
              <td><%= host.email %></td>
              
              <td><%= host.street_address %></td>
              <td><%= host.suburb %></td>
              <td><%= host.state %>

              
              <td class="text-right">
                <%= link_to 'View', host, class:"btn btn-sm btn-primary", style:"color:#fff; background-color:#4183D7; border:#4183D7;" %>
                <%= link_to 'Destroy', host, class:"btn btn-sm red",
                 style:"color:#fff", method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div id="listingguests">
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="">
      <h1 class="heads" style="color:#66a422;" >Listing Guests</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Guest ID#</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Nationality</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @guests.each do |guest| %>
            <tr class="text-left">
              <td><%= guest.id %></td>
              <td><%= guest.first_name %> <%= guest.last_name %></td>
              <td><%= guest.email %></td>
              <td><%= guest.nationality %></td>
              <td><%= guest.country %></td>
              <td class="text-right">
                <%= link_to 'View', guest, class:"btn btn-sm btn-primary", style:"color:#fff; background-color:#4183D7; border:#4183D7;" %>
                <%= link_to 'Destroy', guest, class:"btn btn-sm red",
                 style:"color:#fff", method: :delete, data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

