<div class="container text-center">
  <div class="row" style="margin-top: 15px">
    <div class="col-sm-10 col-sm-offset-1" style="border: 2px solid; border-radius: 10px; border-color: #000000">
      <h1>Listing Admins</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @admins.each do |admin| %>
            <tr class="text-left">
              <td><%= admin.username %></td>
              <td><%= admin.email %></td>
              <td class="text-right">
                <%= link_to 'Destroy', admin, class:"btn btn-xs btn-danger",
                 style:"color:#fff", method: :delete, data: { confirm: 'u r not ab00se rite?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>

  <div class="row" style="margin-top: 15px">
    <div class="col-sm-10 col-sm-offset-1" style="border: 2px solid; border-radius: 10px; border-color: #000000">
      <h1>Listing Hosts</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Country</th>
            <th>State</th>
            <th>Suburb</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @hosts.each do |host| %>
            <tr class="text-left">
              <td><%= host.username %></td>
              <td><%= host.email %></td>
              <td><%= host.country %></td>
              <td><%= host.state %></td>
              <td><%= host.suburb %></td>
              <td class="text-right">
                <%= link_to 'View', host, class:"btn btn-xs btn-primary", style:"color:#fff" %>
                <%= link_to 'Destroy', host, class:"btn btn-xs btn-danger",
                 style:"color:#fff", method: :delete, data: { confirm: 'u r not ab00se rite?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row" style="margin-top: 15px; margin-bottom:15px">
    <div class="col-sm-10 col-sm-offset-1" style="border: 2px solid; border-radius: 10px; border-color: #000000">
      <h1>Listing Guests</h1>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Country</th>
            <th>nationality</th>
            <th class="text-right">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @guests.each do |guest| %>
            <tr class="text-left">
              <td><%= guest.username %></td>
              <td><%= guest.email %></td>
              <td><%= guest.nationality %></td>
              <td><%= guest.country %></td>
              <td class="text-right">
                <%= link_to 'View', guest, class:"btn btn-xs btn-primary", style:"color:#fff" %>
                <%= link_to 'Destroy', guest, class:"btn btn-xs btn-danger",
                 style:"color:#fff", method: :delete, data: { confirm: 'u r not ab00se rite?' } %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>


</div>
