<div class="container">
	<div>
		<p> Change your prices here </p>
	  <% @prices.each do |price| %>
     <%= form_for(price) do |f|%>
    <div>
    	<%= price.meal %>
    	<%= f.text_field :price %>
    	<%= f.submit "Change Price" %>
    </div> <br>
    <% end %>
  <% end %>
  </div>

  <p><strong> View Unapproved Hosts here</strong> </p>

  	<% @hosts.each do |new_user| %>
  	  <%= form_for(new_user) do |f|%>
  	  <div>
  	    <%= new_user.username %>
  		  <%= new_user.email %>
  		  <%= link_to 'view profile', host_path(new_user) %>
  		  <%= f.submit "Approve User" %>
  		 </div>
  		 <br>
  		<% end %>
  	<% end %>
</div>