<div class="container">

	<div class = "col-md-offset-2 col-md-8">
  <h2 class="text-center">View Unapproved Hosts</h2>
  <hr>


<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center">Username</th>
      <th class="text-center">Email</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>

  <tbody>
	<% @hosts.each do |new_user| %>
	  <%= form_for(new_user) do |f|%>
    <tr class="text-left">
	  <div class="field form-inline text-center">
	    <td><%= content_tag :strong, new_user.username %></td>
		  <td><%= content_tag :span, "(#{new_user.email})" %></td>
		  <td><%= link_to 'View', host_path(new_user), class:"btn btn-default btn-sm", style: "color: #fff" %>
		  <%= f.submit "Approve User", class:'btn btn-primary btn-sm' %>
		  <%= link_to 'Reject User', new_user, class:"btn btn-sm red",
		   style:"color:#fff", method: :delete, data: { confirm: 'Are you sure?' } %></td>
		 </div>
     </tr>
		 <br>
		<% end %>


	<% end %>
  </tbody>
</table>
</div>

	<div class = "col-md-offset-2 col-md-8">
		<h2 class="text-center">Change your Prices</h2>
    <hr>
	  
<table class="table table-striped">

<thead>
    <tr>
      <th class="text-center">Meal</th>
      <th class="text-center">Price</th>
      <th class="text-center">Actions</th>
    </tr>
  </thead>
<% @prices.each do |price| %>
  <tbody>
		<%= form_for(price) do |f|%>
    <tr class="text-left">
    <div class="field form-inline text-center">
			<td><%= f.label price.meal, style:'width:100px' %></td>
    	<td><%= f.text_field :price, class:'form-control' %></td>
    	<td><%= f.submit "Change Price", class:'form-control btn-primary change_price' %></td>
    </div>
    </tr>
    <% end %>
  <% end %>
  </tbody>
  </table>
  </div>

  <div class = "col-md-offset-2 col-md-8 pad-bot">
  	<h2 class="text-center">Change The Commision Rate</h2>
    <hr>
  	<%= form_for(current_admin) do |f|%>
  	    <div class="field form-inline text-center">
  				<%= f.label 'commision%', style:'width:100px', class:'pad-bot' %> <br>
  	    	<%= f.text_field :commision_percentage, class:'form-control' %>
  	    	<%= f.submit "Change Commision", class:'form-control btn-primary change_price' %>
  	    </div>
  	<% end %>
  </div>

  <div class = "col-md-offset-2 col-md-8 pad-bot">
    <h2 class="text-center">Download Weekly Report</h2>
    <hr>
      <%= link_to "Download", report_path(format: "csv", range: 1.week.ago..Date.today) %>
  </div>

  <div class = "col-md-offset-2 col-md-8 pad-bot">
    <h2 class="text-center">Download Monthly Report</h2>
    <hr>
      <%= link_to "Download", report_path(format: "csv", range: 1.month.ago..Date.today) %>
  </div>
</div>
