<%= form_for @host, html: {multipart: true } do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, value: @host.username, required: true, class: "form-control" %>
  </div>

  <%= f.label :"Insert_a_Host_profile_picture" %><br>
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-default upload-profile btn-file">
        Browse<%= f.file_field(:image_file, required: true) %>
      </span>
    </span>
    <input type="text" class="form-control" readonly>
  </div>
  <br>

  <div class="field">
    <%= f.label :title %>
    <%= f.select :title, [["Mr.", "Mr."], ["Miss","Miss"], ["Mrs.","Mrs."], ["Dr.", "Dr."]], {include_blank:""}, required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, required: true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name,required: true, class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone, required: true,class: "form-control" %>
  </div>

    <div class="field">
      <%= f.label :bank_account %>
      <%= f.text_field :bank_number,required: true, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :bank_name %>
      <%= f.text_field :bank_name, required: true, class: 'form-control' %>
    </div>

     <div class="field">
      <%= f.label :registration_number  %>
      <%= f.text_field :registration_number ,required: true,class: 'form-control' %>
    </div>


  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation,required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :interests %>
    <%= f.text_area :interests,required: true, class: "form-control", maxlength: 100 %>
  </div>

  <div class="field">
    <%= f.label :smoker %>?
    <%= f.check_box :smoker %>
  </div>
<!--   We could also make pets a drop down list  -->
  <div class="field">
    <%= f.label :pets %>
    <%= f.text_field :pets, required: true,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :languages %>
     <%= f.text_field :languages, required: true,class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :dob%> (Date of Birth) <br>
    <%= f.date_select :dob, {:start_year => Date.today.year - 100, :end_year => Date.today.year}, {required: true,class:"form-control", style:"width:120px;display:inline"}%>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.select :country, [["Denmark", "Denmark"]], {}, required: true,class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.select :state, Experience.get_all_location, {},required: true, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :suburb,"Town" %>
      <%= f.text_field :suburb, required: true,class: "form-control", placeholder: "e.g. Kastrup" %>
  </div>

  <div class="field">
    <%= f.label :zip,"ZIP Code" %>
      <%= f.text_field :zip, required: true,class: "form-control", placeholder: "e.g. 2770" %>
  </div>

  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address,required: true, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :video_url %>
    <p style="font-size: 12px"><i>Please insert a youtube url e.g. https://www.youtube.com/myvideo if you would like to introduce yourself by video.</i></p>
    <%= f.text_field :video_url, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :host_presentation %> <br>

     <p style="font-size: 12px"><i>*Copy and pasting from MS Word will require you to right-click to "Paste and Match Style".</i></p>
    <%= f.text_area :host_presentation, class: "form-control wysihtml5 ", placeholder: "Make a short presentation about who the guest will meet in your home and why you enjoy to be a host" %>
  </div>

  <div class="field">
    <%= f.label :neighbourhood %>
    <%= f.text_area :neighbourhood, class: "form-control" %>
  </div>


 <!--   This makes google maps work DO NOT COMMENT OUT or CHANGE IT -->

  <%= f.hidden_field :latitude, class: "form-control" %>
  <%= f.hidden_field :longitude, class: "form-control" %>

  <%= f.fields_for :experience do |experience| %>
    <%= render 'init_exp', f: experience %>
  <% end %>




<% end %>
<script type="text/javascript">
$(function(){

  $('.wysihtml5').each(function(i, elem) {
    $(elem).wysihtml5();
  });

  $('.glyphicon-picture').parent().attr('style', 'display:none');
});

</script>
