<%= form_for @host, html: {multipart: true} do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :title %>
    <%= f.select :title, [["Mr.", "Mr."], ["Miss","Miss"], ["Mrs.","Mrs."], ["Dr.", "Dr."]], class: "form-control" %>
  </p>

  <p>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </p>

   <p>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </p>

  <p>
    <%= f.label :username %>
    <%= f.text_field :username, value: @host.email_to_username, class: "form-control" %>
  </p>

  <p>
    <%= f.label :languages %>
     <%= collection_select(:languages, 0, Language.all, :id, :name, {:prompt => true, :multiple => true}) %>
  </p>

   <p>
    <%= f.label :DOB%> (Date of Birth)
    <%= f.date_select :DOB, :start_year => Date.today.year - 100, :end_year => Date.today.year%>

  </p>

  <p>
    <%= f.label :country %>
    <%= f.select :country, [["Denmark", "Denmark"]],  class: "form-control" %>
  </p>

  <p>
    <%= f.label :region %>
    <%= f.select :state, Experience.get_location %>
  </p>

  <p>
    <%= f.label :suburb %>
      <%= f.text_field :suburb, class: "form-control" %>
  </p>

  <p>
    <%= f.label :street_address %> (Will not be shown to guests until they confirm a booking with you.)
    <%= f.text_field :street_address, class: "form-control" %>
  </p>

  <p>
    <%= f.label :video_url %>
    <%= f.text_field :video_url, class: "form-control" %>
  </p>

  <p>
    <%= f.label :intro %>
    <%= f.text_area :intro, class: "form-control" %>
  </p>

  <p>
    <%= f.label :neighbourhood %>
    <%= f.text_area :neighbourhood, class: "form-control" %>
  </p>



  <p>
    <%= f.label :additional_info %>
    <%= f.text_area :additional_info, class: "form-control" %>
  </p>

    <%= f.label :image %><br>
    <%= f.file_field(:image_file) %></br>
   <!-- <div class="actions">
   <%= f.submit %>
   </div> -->
 <!--   This makes google maps work DO NOT COMMENT OUT or CHANGE IT -->
  <%= f.hidden_field :latitude, class: "form-control" %>
  <%= f.hidden_field :latitude, class: "form-control" %>
  <%= f.hidden_field :longitude, class: "form-control" %>
  <div class="actions">
    <button type="button" name="geocoder" onclick="geocode()">Update Host</button>
    <input name="commit" value="Update Host" type="submit" style="display: none">
  </div>

<% end %>
