<%= form_for @host, html: {multipart: true} do |f| %>
  <% if @host.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@host.errors.count, "error") %> prohibited this host from being saved:</h2>

      <ul>
      <% @host.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username, value: @host.email_to_username, class: "form-control" %>
  </div>

  <%= f.label :image %><br>
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-default upload-profile btn-file">
        Browse<%= f.file_field(:image_file) %>
      </span>
    </span>
    <input type="text" class="form-control" readonly>
  </div>
  <br>

  <div class="field"
    <%= f.label :title %>
    <%= f.select :title, [["Mr.", "Mr."], ["Miss","Miss"], ["Mrs.","Mrs."], ["Dr.", "Dr."]], {include_blank:""}, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>
  <% if @host.approved == false %>
    <div class="field">
      <strong>Bank Account Number</strong>
      <%= text_field_tag 'bank_number' ,nil, class: 'form-control' %>
    </div>

    <div class="field">
      <strong>Bank Name</strong>
      <%= text_field_tag 'bank_name', nil, class: 'form-control' %>
    </div>

     <div class="field">
      <strong>Registration Number</strong>
      <%= text_field_tag 'registration_number', nil, class: 'form-control' %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :occupation %>
    <%= f.text_field :occupation, class: "form-control" %>
  </div>

  <div class="field">
    <label for="exprience_max_group_size">* Max Group Size</label>
    <small>(Don't want a hundred guests now do we?)</small><br>
    <%= f.select :max_group_size, options_for_select(1..10, @host.max_group_size), {},
      {required:true, class:'form-control', style:'width:20%'} %>
  </div>

  <div class="field">
    <%= f.label :interests %>
    <%= f.text_area :interests, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :smoker %>?
    <%= f.check_box :smoker %>
  </div>
<!--   We could also make pets a drop down list  -->
  <div class="field">
    <%= f.label :pets %>
    <%= f.text_field :pets, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :languages %>
     <%= f.text_field :languages, class: "form-control" %>
  </div>

   <div class="field">
    <%= f.label :dob%> (Date of Birth) <br>
    <%= f.date_select :dob, {:start_year => Date.today.year - 100, :end_year => Date.today.year}, {class:"form-control", style:"width:80px;display:inline"}%>

  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.select :country, [["Denmark", "Denmark"]], {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :region %>
    <%= f.select :state, Experience.get_all_location, {}, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :suburb %>
      <%= f.text_field :suburb, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :video_url %>
    <p style="font-size: 12px"><i>Please insert a youtube url e.g. https://www.youtube.com/myvideo if you would like to introduce yourself by video.</i></p>
    <%= f.text_field :video_url, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :intro %>
    <%= f.text_area :intro, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :neighbourhood %>
    <%= f.text_area :neighbourhood, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :additional_info %>
    <%= f.text_area :additional_info, class: "form-control" %>
  </div>


   <!-- <div class="actions">
   <%= f.submit %>
   </div> -->
 <!--   This makes google maps work DO NOT COMMENT OUT or CHANGE IT -->

  <%= f.hidden_field :latitude, class: "form-control" %>
  <%= f.hidden_field :longitude, class: "form-control" %>
  <div class="actions">
    <button type="button" name="geocoder" onclick="geocode()" class="btn btn-primary">Update my Profile!</button>
    <input name="commit" value="Update Host" type="submit" style="display: none" class="form-control">
  </div>

<% end %>
