<p id="notice"><%= notice %></p>

<h1>Listing Hosts</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Dob</th>
      <th>Country</th>
      <th>State</th>
      <th>Suburb</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hosts.each do |host| %>
      <tr>
        <td><%= host.username %></td>
        <td><%= host.email %></td>
        <td><%= host.password %></td>
        <td><%= host.DOB %></td>
        <td><%= host.country %></td>
        <td><%= host.state %></td>
        <td><%= host.suburb %></td>
        <td><%= link_to 'Show', host %></td>
        <td><%= link_to 'Edit', edit_host_path(host) %></td>
        <td><%= link_to 'Destroy', host, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Host', new_host_path %>
