reference


</br>
<div class="container">
    <div class="row">
      <div class="col-md-12" id="map-canvas" min-height="500px"></div>
    </div>
    <div class="row">
          <div class="col-md-4">
            <% if @host == current_host %>
              <h3>Your account</h3>
            <% end %>
            </br>
            <% if @host.images.present? %>
              <%= image_tag @host.images.first.image_file.url(:medium), class: "img-circle" %></br>
            <% else %>
              <%= image_tag "box.jpeg" %>
            <% end %>
            <h4><%= @host.username %><p>(<%= @host.email %>)</p></h4>


            <p>
              <strong>Location:</strong>
              <%= @host.suburb %>, <%= @host.state %>, <%= @host.country %>
            </p>

            <% if @host == current_host %>
            <%= button_to "Create New Experience", new_experience_path, :class => "btn btn-default", :method => :get %>

            <%= button_to "Edit Profile" , edit_host_path, :class => "btn btn-default", :method => :get %>

            <%= button_to "Account Settings" , edit_host_registration_path, :class => "btn btn-default", :method => :get %>
            <% end %>
          </div>

          <div id="mapLat" style="display: none;">
            <% if @host.latitude -%><%= @host.latitude -%><% else -%>-82.8<% end -%>
          </div>
          <div id="mapLng" style="display: none">
            <% if @host.longitude %><%= @host.longitude %><% else %>-135<% end %>
          </div>


        <h1 style="text-align:center">Experiences belonging to <%= @host.username %></h1>
        </br>

<!--         <div class="row">
 -->          <% @experiences.each_with_index do |experience, index| %>
   <% if index == 0 %>
            <div class="col-md-8">
            <% end %>
               <% if index != 0 %>
                           <div class="col-md-8" style="float:right">
                                       <% end %>





            <div class="thumbnail" id="card_container">
                  <div class="col-md-4">
                  <%= image_tag experience.images.first.image_file.url(:medium)%>
                 <!--   <%= image_tag experience.images.last.image_file.url(:medium)%>
 -->
                  </div>
                 <table class="table-compressed" id="menutab">
                      <thead>
                        <tr>
                          <th id="rembor">Meal Type</th>
                          <th id="rembor">Cuisine</th>
                          <th id="rembor">Beverages</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td id="rembor">John</td>
                          <td id="rembor"><%= experience.cuisine %></td>
                          <td id="rembor">john@example.com</td>
                        </tr>
                      </tbody>

                       <thead>
                        <tr>
                          <th id="rembor">Halal</th>
                          <th id="rembor">Availability</th>
                          <th id="rembor">Group Size</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                         <td id="rembor"><%= experience.is_halal ? "Yes" : "No" %></td>
                          <td id="rembor"><% days = ["Sundays", "Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays"] %>
                      <% avail_days = experience.available_days.split(//).select {|num| num != "-"}.map { |num| days[num.to_i] } %>
                      <%= avail_days.to_sentence %></td>
                          <td id="rembor"><%= experience.max_group_size %> pax</td>
                        </tr>
                      </tbody>   

                       <thead>
                        <tr>
                          <th id="rembor">Host Style</th>
                          <th id="rembor">Duration</th>
                          <th id="rembor">Price</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                           <td id="rembor"><% if experience.host_style %>
                      <%= experience.host_style %>
                    <% end %></td>
                           <td id="rembor"><% duration = (experience.duration*60).divmod(60) %><%= duration[0] %> hours <%= duration[1].to_i %> minutes.</td>
                           <td id="rembor"><%= experience.price %> $US</td>
                        </tr>
                      </tbody>   


                    </table>

                    <div class="col-md-6" style="margin-left:-8px; margin-top:15px">
                    <%= experience.description %>
                    </div> 
                 </div>
              </div></br>
            </div>
          <% end %>

    </div>
</div>
