<p id="notice"><%= notice %></p>
<% if @host == current_host %>
<h3>Your account</h3>
<% end %>
<h4><%= @host.username %><p>(<%= @host.email %>)</p></h4>

<p>
  <strong>Dob:</strong>
  <%= @host.DOB %>
</p>

<p>
  <strong>Area:</strong>
  <%= @host.state %>, <%= @host.country %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @host.suburb %>
</p>

<p>
  <strong>Profile image:</strong></br>
  <%=   image_tag @host.images.first.image_file.url(:medium) %></br>
</p>

<%= button_to "Create New Experience", new_experience_path, :class => "inbox-sf-add-btn tip", :method => :get %>

<%= button_to "Edit Profile" , edit_host_path, :class => "inbox-sf-add-btn tip", :method => :get %>

<%= button_to "Account Settings" , edit_host_registration_path, :class => "inbox-sf-add-btn tip", :method => :get %>


<% if @host == current_host %>
<%= link_to 'Edit Profile', edit_host_path(@host) %>
<% end %>



