<p>
  <strong>Username:</strong>
  <%= @host.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @host.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @host.password %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @host.DOB %>
</p>

<p>
  <strong>Country:</strong>
  <%= @host.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @host.state %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @host.suburb %>
</p>

<p>
  <strong>Profile image:</strong></br>
  <%=   image_tag @host.images.first.image_file.url(:medium) %></br>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> |

