<p>
  <strong>Username:</strong>
  <%= @host.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @host.email %>
</p>

<!-- <p>
  <strong>Password:</strong>
  <%= @host.password %>
</p> -->

<p>
  <strong>Dob:</strong>
  <%= @host.DOB %>
</p>

<p>
  <strong>Country:</strong>
  <%= @host.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @host.state %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @host.suburb %>
</p>

<p>
  <strong>Profile image:</strong></br>
  <%=   image_tag @host.images.first.image_file.url(:medium) %></br>
</p>

<%= link_to 'Edit', edit_host_path(@host) %> 

<%= button_to "Create New Experience", new_experience_path, :class => "inbox-sf-add-btn tip", :method => :get %>

<%= button_to "Edit Profile" , edit_host_path, :class => "inbox-sf-add-btn tip", :method => :get %>

<%= button_to "Account Settings" , edit_host_registration_path, :class => "inbox-sf-add-btn tip", :method => :get %>

Send a message to
 
 <%= @host.username %>
 <%= form_tag({controller: "messages", action: "create", method: :post}) do %>
  <%= label_tag :subject %>
  <%= text_field_tag :subject %>
  <%= label :body, "Message text" %><br>
  <%= text_area_tag :body %>
  <%= hidden_field_tag(:host, "#{@host.id}") %>
  <%= submit_tag 'Send message', class: "btn btn-primary" %>
<% end %>








