<p id="notice"><%= notice %></p>
<% if @host == current_host %>
<h3>Your account</h3>
<% end %>
<h4><%= @host.username %><p>(<%= @host.email %>)</p></h4>

<p>
  <strong>Dob:</strong>
  <%= @host.DOB %>
</p>

<p>
  <strong>Area:</strong>
  <%= @host.state %>, <%= @host.country %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @host.suburb %>
</p>

<% if @host == current_host %>
<%= link_to 'Edit Profile', edit_host_path(@host) %>
<% end %>

