<div class="container-fluid">
  <div class="row" style="padding:50px;">

  <!--    Host Avatar and minor details -->
    <div class="col-md-4 col-sm-5 col-xs-12" id="avatar_align">
      <!-- <%= content_tag :h3, "Host Account",
       class:'title' if @host == current_host %> -->
      </br>
      <% if @host.images.present? %>
        <%= image_tag @host.images.first.image_file.url(:medium), class: "img-profile", style: "margin-top: 10px" %></br>
      <% else %>
        <%= image_tag "box.jpeg" %>
      <% end %>
      <%= content_tag :h3, @host.username, class:"host_name" %>

      <% if @host == current_host %>
      <div class="row" id="host_controls">
      	
  			<%= link_to "[ Edit Profile ]", edit_host_path, :class => "edit_profile" %><br>
        <%= link_to "[ Create Experience ]", new_experience_path, class: "edit_profile" if @host.approved? %><br>
  			<%= link_to "[ Account Settings ]" , edit_host_registration_path,
          class:"edit_profile" %><br>
        <button class="btn btn-primary btn-xl" style="  background-color: #22A7F0;
  border-color: #22A7F0;" id='btn-cal'>Show Calendar</button>
      </div>
    	<% end %>
    </div>

    <!-- End of host avatar and minor details -->

    <!-- Curious map code -->
    <div id="mapLat" style="display: none;">
      <% if @host.latitude -%><%= @host.latitude -%><% else -%>-82.8<% end -%>
    </div>

    <div id="mapLng" style="display: none;">
      <% if @host.longitude %><%= @host.longitude %><% else %>-135<% end %>
    </div>
    <!-- End curious map code -->

    <!-- Host major details -->
    <div class="col-md-7 col-md-offset-1 col-sm-6 col-sm-offset-1 col-xs-offset-1 col-xs-10" id="card_container">
      <br>
      <!-- <p><%= @host.title %> <%= @host.first_name%> <%=@host.last_name %></p> -->
      <!-- <div class="col-md-4"> -->
        <h1 class="heads" style="color:#66a422; font-size:50px;">Profile Details</h1>
        <p><span style="font-weight:600;">Age:</span> <%= @host.age %> years old</p>
        <p><span style="font-weight:600;">Location:</span> <%= @host.state %>, <%= @host.country %></p>
        <p><span style="font-weight:600;">Occupation:</span> <%= @host.occupation %></p>
        <p><span style="font-weight:600;">Interests:</span> <%= @host.interests %></p>

        <p><%= @host.smoker? %></p>
        <p><span style="font-weight:600;">Pets:</span> <%= @host.pets %></p>
        <p><span style="font-weight:600;">Speaks:</span> <%= @host.languages %></p>
        <p><span style="font-weight:600;">Neighbourhood:</span> <%= @host.neighbourhood %></p>
      <!-- </div> -->

      <!-- <div class="col-md-8 visible-md-block visible-lg-block">

      </div> -->

      <!-- <div class="col-md-12"> -->
        <p>
          <span style="font-weight:600;">Introduction:</span><br>
          <%= @host.intro %>
        </p>

        <p>
          <span style="font-weight:600;">Additional Info:</span><br>
          <%= @host.additional_info %>
        </p>
      <!-- </div> -->

    </div>
    <!-- End host major details -->
  </div>
  <!-- End of row -->

  <!-- Start of Map; maybe have this as the host page exp. footer instead, no side-padding -->
  <!-- <div class="row" id="map">
    <div class="col-md-12" id="map-canvas" min-height="500px"></div>
  </div> -->
  <!-- End of Map -->
  <% if @host == current_host %>
  <div class="row">
    <%= render 'calendar' %>
  </div>
  <% end %>
<div style="clear:both;"></div>
  <!-- Events title-->
 
  <div class="row" id="special_events">
    <%= content_tag :h3, "#{@host.username}'s Special Events", class:"text-center title pad-bot" %>
  <!-- End of events title -->
    <%= content_tag :h5, "<No Special Events for now>", class:"text-center" if @special_events.available.empty? %>
  <!-- Hosts experiences listing -->
      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" style="">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Title</th>
                <th>Meal Type</th>
                <th>Date</th>
                <th>Cuisine</th>
                <th>Beverages</th>
              </tr>
            </thead>

            <tbody>
              <% @host.experiences.special_events.each do |event| %>
                <tr class="text-left">
                  <td><%= event.title %></td>
                  <td><%= event.meal %></td>
                  <td><%= event.date %></td>
                  <td><%= event.cuisine %></td>
                  <td><%= event.beverages %></td>
                  <td class="text-right">
                    <% if current_host == @host %>
                      <%= link_to 'View', event, class: "btn btn-xs btn_admins fa fa-info", style: "color:#4b4b4b" %>
                      <%= link_to 'Edit', event, class: "btn btn-xs btn_admins fa fa-pencil", style: "color:#4b4b4b"  %>
                      <%= link_to 'Destroy', event, class:"btn btn-sm red",
                       style:"color:#fff", method: :delete, data: { confirm: 'Are you sure?' } %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>  



<!-- Events title-->

  <div class="row" id="host_events">
    <%= content_tag :h3, "#{@host.username}'s Events", class:"text-center title pad-bot" %>
<!-- End of events title -->
  <%= content_tag :h5, "<No Events for now>", class:"text-center" if @normal_events.empty? %>
<!-- Hosts experiences listing -->
  <div class="container-fluid">
  <div class="row">
    <div class="col-sm-12" style="">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Title</th>
            <th>Meal Type</th>
            <th>Cuisine</th>
            <th>Beverages</th>
          </tr>
        </thead>

        <tbody>
          <% @host.experiences.normal_events.each do |event| %>
            <tr class="text-left">
              <td><%= event.title %></td>
              <td><%= event.meal %></td>
              <td><%= event.cuisine %></td>
              <td><%= event.beverages %></td>
              <td class="text-right">
                <% if current_host == @host %>
                  <%= link_to 'View', event, class: "btn btn-xs btn_admins fa fa-info", style: "color:#4b4b4b" %>
                  <%= link_to 'Edit', event, lass: "btn btn-xs btn_admins fa fa-pencil", style: "color:#4b4b4b"  %>
                  <%= link_to 'Destroy', event, class:"btn btn-sm red",
                   style:"color:#fff", method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
  </div>

<!-- Business Intelligence Counts -->
<div class="row" id="special_events">
    <%= content_tag :h3, "#{@host.username}'s Key Statistics", class:"text-center title pad-bot" %>
  <!-- End of events title -->
    
  <!-- Hosts experiences listing -->
      <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12" style="">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Invitations Requested</th>
                <th>Invitations Sent</th>
                <th>Enquiries Rejected</th>
                <th>Bookings Confirmed</th>
                <th>Revenue Generated (DKK)</th>
              </tr>
            </thead>

            <tbody>
                <tr class="text-center">
                  <td><%= @host.bookings.where(status: 'requested').count %></td>
                  <td><%= @host.bookings.where(status: 'invited').count %></td>
                  <td><%= @host.bookings.where(status: 'rejected').count %></td>
                  <td><%= @host.bookings.where(status: 'confirmed').count %></td>
                  <td><%= (@host.bookings.where(status: 'completed').count) * 450.00 %></td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--end bus intel counts-->



</div>

<script>
<% if flash[:notice] %>
$(function(){
    function check_job_status(job_id){
    var request = $.ajax({
      type: "GET",
      url: '/hosts/' + job_id
    });
    request.done(function(response){
      if (response === 'true'){
        location.reload();
      } else {
        setTimeout(function(){ check_job_status(job_id) }, 5000);
      }
    });
  };
  var id = <%= @host.id %>
  check_job_status(id)
});
<% end %>
$(function(){
  $('#holiday_calendar').hide()

  $("#btn-cal").on('click', this, function(e){
    cal = $('#holiday_calendar')
    if (cal.is(':visible') === true){
      $('#notify').html('&nbsp;').removeClass('label label-success')
      cal.hide()
      $('#btn-cal').text('Show Calendar')
    }else{
      cal.show()
      $('#btn-cal').text('Hide Calendar')
    }
  });
});
</script>
