<div class="row" id="booking_form">
<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2> -->
      <ul>
      <small><% @booking.errors.full_messages.each do |message| %></small>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center" style="margin-right: 25px">
    <div id='datepick'></div>
    <%= f.date_select :date, {use_month_numbers:true}, class:'hidden' %>
    <small id="date_error"></small>
  </div>

  <%= f.hidden_field :guest_id, value:@booking.guest_id %>
  <%= f.hidden_field :experience_id, value:@experience.id %>

    <div class="field">
      <% if current_host == @experience.host && @action == "edit"  %>
        <%= f.label :status %><br>
        <%= f.select :status, options_for_select(Booking.statuses), {}, class:"form-control" %>
      <% else %>
        <%= f.text_field :status, value:@booking.status, hidden: true %>
      <% end %>
    </div>

  
  <div class="field">
    <%= f.label :number_of_adults%>
    <%= f.select :no_of_adults, options_for_select(@experience.max_number_in_group, @booking.no_of_adults), {}, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :number_of_children%> (Age 7-13)
    <%= f.select :no_of_children, options_for_select(0..10, @booking.no_of_children), {}, class:"form-control" %>
  </div>

  <% if current_guest %>
  <div class="field">
    <%= f.label :additional_information %>
    <%= f.text_area :add_info, placeholder: "Add any relevant info here, eg. Number of children under the age of 7" ,class: "form-control" %>
  </div>
 <% elsif current_host %>
    <%= @booking.add_info %>
 <% end %>

  <div class="actions" id="booking_create_button">
  <% if current_guest && current_guest.filled == true %>

    <% if @experience.special_event? == false %>
      <% @action == "edit" ? submit_text = "UPDATE BOOKING" : submit_text = "SUGGEST DATE"%>
    <% else %>
      <% submit_text = "BOOK NOW" %>
    <% end %>

    <% if guest_signed_in? %>
      <%= f.submit submit_text, class:"btn btn-success new_booking" ,id:"ga" %>
    <% else %>
      <%= link_to "SIGN UP", new_guest_registration_path,class:"btn btn-warning " %>
    <% end %>
  <% elsif current_host == @experience.host %>
    <% if @action == "edit" %> 
      <% submit_text = "COMPLETE RESPONSE" %> 
      <%= f.submit submit_text, class:"btn btn-success" %>
    <% end %>
    <% elsif current_host %>
      <% if params[:action] == "show" && params[:controller] == "experiences" %>
        <%= link_to 'Book Now', sign_in_as_guest_path, class: "btn btn-danger btn-lg", style: "color:#fff; text-transform:uppercase; line-height: 35px;" %> 
      <% end %>

<!-- IF STATUS = CONFIRMED-->   
    <% if @booking.status == "confirmed" %>
      <%= link_to 'Cancel Booking?', @booking,method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-danger', style:'color:white' if @action == 'edit' %>
    <% end %>
  <% elsif current_guest && current_guest.filled == false %>
    <%= link_to "COMPLETE YOUR PROFILE BEFORE BOOKING", edit_guest_path(current_guest), class:"btn btn-danger", style:"color:white" %>
  <% else %>
    <%= link_to "SIGN IN TO BOOK", new_guest_registration_path, class:"btn btn-danger", style:"color:white" %>
  <% end %>

  </div>

<% end %>
</div>

<script type="text/javascript">

$(function () {
  $.fn.datepicker.defaults.format = "yyyy-mm-dd";
  $('#datepick').datepicker({
    format: "yyyy-mm-dd",
    startDate: "<%= @startDate %>",
    endDate: "<%= @endDate %>",
    // todayBtn: "linked",
    // calendarWeeks: true,
    // multidateSeparator: ",",
    todayHighlight: false,
    multidate: false,
    datesDisabled: <%= raw (@host.bookings.confirmed_dates + @host.holidays_list).uniq.sort %>
  }).on('click', this, function(e){
    date = $('#datepick').datepicker('getDate');
    if(date !== null){
      $('#booking_date_1i').val(date.getFullYear());
      $('#booking_date_2i').val(date.getMonth()+1);
      $('#booking_date_3i').val(date.getDate());
    }
  });

  $('.datepicker-inline').addClass('center-block');

  $('#datepick').datepicker('setDates', '<%= @date %>');
  <% if @experience.special_event? %>
    $('#datepick').hide();
  <% end %>

  // if( $("input[name*=datetime]").val() == "" )
  //   $("div.actions>input[type*=submit]").attr('disabled', 'disabled');
  //
  // $('div.input-group').on("click", "span.input-group-addon", function(event){
  //   $("div.actions>input[type*=submit]").removeAttr('disabled', 'disabled');
  // });

  $('.new_booking').submit(function(event){
    var date = $('#datepick').datepicker('getDate');
    $('#booking_date').text($('#datepick').datepicker('getDate'));
    var book_type = $("input[type*=submit].new_booking#ga").val()
    if( date == null && book_type != "BOOK NOW"){
      event.preventDefault();
      $('small#date_error').text("Please specify booking date.").css("color", "red");
    }
  });

});

</script>
