<div class="row" id="booking_form">
<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <!-- <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2> -->
      <ul>
      <small><% @booking.errors.full_messages.each do |message| %></small>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field text-center">
    <div id='datepick'></div>
    <%= f.date_select :date, {use_month_numbers:true}, class:'hidden' %>
    <small id="date_error"></small>
  </div>

  <%= f.hidden_field :guest_id, value:@booking.guest_id %>
  <%= f.hidden_field :experience_id, value:@experience.id %>

  <div class="field">
    <% if current_host == @experience.host && @action == "edit" %>
      <%= f.label :status %><br>
      <%= f.select :status, options_for_select(Booking.statuses), {}, class:"form-control" %>
    <% else %>
      <%= f.text_field :status, value:@booking.status, hidden: true %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :group_size %>
    <%= f.select :group_size, options_for_select(@experience.max_number_in_group), {}, class:"form-control" %>
  </div>

  <div class="field" id="private_field">
   <%= f.check_box :is_private, {disabled: !!@experience.date }%>
   <%= f.label :is_private, value:'private event' %>
  </div>

  <div class="field">
    <%= f.label :add_info %>
    <%= f.text_area :add_info, placeholder: "Add any relevant info here, eg. Number of kids" ,class: "form-control" %>
  </div>

  <div class="actions" id="booking_create_button">
  <% if current_guest %>
    <% @action == "edit" ? submit_text = "EDIT BOOKING" : submit_text = "SUGGEST DATE"%>
    <% if guest_signed_in? %>
      <%= f.submit submit_text, class:"btn btn-danger" ,id:"ga" %>
    <% else %>
      <%= link_to "SIGN UP", new_guest_registration_path,
      class:"btn btn-warning " %>
    <% end %>
  <% else %>
    <%= link_to "SIGH IN HERE", new_guest_session_path, class:"btn btn-primary btn-sm", style:"color:white" %>
  <% end %>
  </div>

<% end %>
</div>

<script type="text/javascript">

$(function () {
  $.fn.datepicker.defaults.format = "yyyy-mm-dd";
  $('#datepick').datepicker({
    format: "yyyy-mm-dd",
    startDate: "<%= @startDate %>",
    endDate: "<%= @endDate %>",
    // todayBtn: "linked",
    // calendarWeeks: true,
    // multidateSeparator: ",",
    todayHighlight: true,
    multidate: false,
    datesDisabled: <%= raw (@host.bookings.confirmed_dates + @host.holidays_list).uniq.sort %>
  }).on('click', this, function(e){
    date = $('#datepick').datepicker('getDate');
    if(date !== null){
      $('#booking_date_1i').val(date.getFullYear());
      $('#booking_date_2i').val(date.getMonth()+1);
      $('#booking_date_3i').val(date.getDate());
    }
  });

  $('.datepicker-inline').addClass('center-block');

  <% if @experience.special_event? %>
    $('#datepick').datepicker('setDates', '<%= @startDate %>');
  <% end %>

  // if( $("input[name*=datetime]").val() == "" )
  //   $("div.actions>input[type*=submit]").attr('disabled', 'disabled');
  //
  // $('div.input-group').on("click", "span.input-group-addon", function(event){
  //   $("div.actions>input[type*=submit]").removeAttr('disabled', 'disabled');
  // });

  $('#new_booking').submit(function(event){
    $('#booking_date').text($('#datepick').datepicker('getDate'));
    if( $("input[name*=datetime]").val() == "" ){
      event.preventDefault();
      $('small#date_error').text("Please specify booking date.");
    }
  });

});
</script>
