<script type="text/javascript">
    $(function () {
        $('#datetimepicker11').datetimepicker({
            <% days = (0..6).to_a - @experience.available_days.delete('-').split(//).map {|x| x.to_i} %>

            daysOfWeekDisabled: <%= days %>,
            <% if @booking.date.nil? %>
              minDate: moment(),
              defaultDate: false,
            <% else %>
              defaultDate: moment([<%= @booking.date.year %>,
                                    <%= @booking.date.month %>,
                                    <%= @booking.date.day %>,
                                    <%= @booking.start_time.hour %>,
                                    <%= @booking.start_time.min %>
                                  ]),
            <% end %>
        });
        $
    });
</script>

<%= form_for(@booking) do |f| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% @booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- <div class="field"> -->
    <!-- <%= f.label :start_time %><br> -->
    <% f.time_select :start_time %>
  <!-- </div> -->
  <!-- <div class="field"> -->
    <!-- <%= f.label :end_time %><br> -->
    <% f.time_select :end_time %>
  <!-- </div> -->
  <!-- <div class="field"> -->
    <!-- <%= f.label :date %><br> -->
    <% f.date_select :date %>
  <!-- </div> -->
  <div class='input-group date' id='datetimepicker11'>
    <input type='text' class="form-control" name="datetime" />
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-calendar"></span>
    </span>
  </div>
  <!-- <div class="field">
    <%= f.label :guest_id %><br>
    <%= f.number_field :guest_id %>
  </div> -->
  <%= f.hidden_field :guest_id, value:@booking.guest_id %>
  <!-- <div class="field">
    <%= f.label :experience_id %><br>
    <%= f.number_field :experience_id %>
  </div> -->
  <%= f.hidden_field :experience_id, value:@experience.id %>
  <% if current_host == @experience.host %>
    <div class="field">
      <%= f.label :status %><br>
      <%= f.select :status, options_for_select(Booking.statuses) %>
      <!-- <%= f.text_field :status %> -->
    </div>
  <% end %>
  <div class="field">
    <%= f.label :group_size %><br>
    <%= f.number_field :group_size %>
  </div>
  <div class="field">
    <%= f.label :is_private %><br>
    <%= f.check_box :is_private %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
