<p id="notice"><%= notice %></p>

<h1>Listing Bookings</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th>Date</th>
      <th>Guest</th>
      <th>Experience</th>
      <th>Status</th>
      <th>Group size</th>
      <th>Is private</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_time %></td>
        <td><%= booking.end_time %></td>
        <td><%= booking.date %></td>
        <td><%= booking.guest_id %></td>
        <td><%= booking.experience_id %></td>
        <td><%= booking.status %></td>
        <td><%= booking.group_size %></td>
        <td><%= booking.is_private %></td>
        <td><%= booking.rating %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path %>
