<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Start time:</strong>
  <%= @booking.start_time.strftime('%r') %> <small>(Local Time)</small>
</p>

<p>
  <strong>End time:</strong>
  <%= @booking.end_time.strftime('%r') %> <small>(Local Time)</small>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.date %>
</p>

<!-- <p>
  <strong>Guest:</strong>
  <%= @booking.guest_id %>
</p> -->

<p>
  <strong>Experience:</strong>
  <%= @booking.experience_id %> "<%= @booking.experience.title %>"
</p>

<p>
  <strong>Status:</strong>
  <%= @booking.status.capitalize %>
</p>

<p>
  <strong>Group size:</strong>
  <%= @booking.group_size %>
</p>

<p>
  <strong>Is private?:</strong>
  <%= @booking.is_private ? "Yes" : "No"%>
</p>

<p>
  <strong>Host:</strong>
  <%= link_to @booking.experience.host.username, "/hosts/" + @booking.experience.host.id.to_s %>
</p>

<h5>Messages</h5>
<% @messages.each do |message| %>
  <div>
    <p><%= message.text %></p>
    <p>
      <% if message.sender_type == "host" %>
        <% sender = Host.find(message.sender_id) %>
      <% elsif message.sender_type == "guest" %>
        <% sender = Guest.find(message.sender_id) %>
      <% end %>

      <%= sender.username %>
      <% if sender.images.present? %>
        <%= image_tag sender.images.first.image_file.url(:medium) %>
      <% end %>
      <span><%= message.created_at %></span>
    </p>
  </div>
<% end %>

<%= form_for @message do |m| %>
  <%= m.label :message, value:'New Message'%><br>
  <%= m.text_area :text %><br>
  <%= m.hidden_field :booking_id, value: @booking.id %>

  <% if guest_signed_in? %>
    <%= m.hidden_field :sender_id, value: current_guest.id %>
    <%= m.hidden_field :sender_type, value: 'guest' %>
    <%= m.submit 'Send Message' %>
  <% elsif host_signed_in? %>
    <%= m.hidden_field :sender_id, value: current_host.id %>
    <%= m.hidden_field :sender_type, value: 'host' %>
    <%= m.submit 'Send Message' %>
  <% else %>
    <p>Sign in to send message</p>
  <% end %>
<% end %>

<%= link_to_if( @booking.status != "completed", 'Edit', edit_booking_path(@booking) ) %> |
<% if @booking.status == "completed" && @booking.testimonial.nil? %>
<%= link_to 'Create Testimonial', "/bookings/" + @booking.id.to_s + "/testimonials/new" %> |
<% end %>
<%= link_to 'Back', bookings_path %>
