<div class = "container col-md-offset-3">
  <h3>
    "<%= link_to @booking.experience.title, experience_path(@booking.experience.id) %>"
  </h3>
  <p>
    <strong>Host by:</strong>
    <%= link_to @booking.experience.host.username, "/hosts/" + @booking.experience.host.id.to_s %>
  </p>
  <p>
    <strong>Date:</strong>
    <%= @booking.date.strftime('%b %d, %Y (%A)')  %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= @booking.experience.time.strftime('%I:%M %p') %> ~
    <%= (@booking.experience.time + @booking.experience.duration.hour).strftime('%I:%M %p') %>
    <small>(Local Time)</small>
  </p>

  <p>
    <strong>Group size:</strong>
    <%= @booking.group_size %> &nbsp;
    <strong>Is private?:</strong>
    <%= @booking.is_private ? "Yes" : "No"%>
  </p>

  <p>
    <strong>Status:</strong>

    <span class="btn btn-primary btn-xs disabled"> <%= @booking.status.capitalize %> </span>
    <% if @booking.status != "completed" && current_host == @booking.experience.host %>
      <%= link_to('UPDATE', edit_booking_path(@booking) ) %>
    <% end %>
  </p>

  <% if current_guest && @booking.status != "invited" %>
    <%= link_to image_tag("https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png"), @booking.paypal_url(booking_path(@booking))  %>
  <% end %>

  <% if @booking.check_finished? && @booking.status == 'confirmed' %>
    <%= button_to "Mark as Complete", mark_booking_completion_path(@booking.id), id: 'complete', method: :post, remote: true %>
  <% end %>

  <h5><strong>Messages:</strong></h5>
  <div class="row">
    <div id="messages" class="col-md-6">
      <% @messages.each do |message| %>
        <p>
          <% if message.sender_type == "host" %>
            <% sender = Host.find(message.sender_id) %>
          <% elsif message.sender_type == "guest" %>
            <% sender = Guest.find(message.sender_id) %>
          <% end %>

          <% if sender.images.present? %>
            <% image_tag sender.images.first.image_file.url(:thumb), class: "img-circle", style: "" %>
          <% end %>

        </p>
        <% if message.sender_type == "host" %>
          <div class="alert alert-info" role="alert" style="margin-bottom:5px">
        <% else %>
          <div class="alert alert-warning" role="alert" style="margin-bottom:5px">
        <% end %>

        <p style:"float:left"><%= message.text %></p>
          <small style="float:right">
            <strong><%= sender.username %></strong>
            <%= message.created_at.strftime('@%b %d, %Y') %>
          </small>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row col-md-6">
    <%= form_for @message, remote: true do |m| %>

      <%= m.label :message, value:'New Message'%><br>
      <%= m.text_area :text, required: true, title:nil, class:"form-control" %><br>
      <%= m.hidden_field :booking_id, value: @booking.id %>

      <% if guest_signed_in? %>
        <%= m.hidden_field :sender_id, value: current_guest.id %>
        <%= m.hidden_field :sender_type, value: 'guest' %>
        <%= m.submit 'Send Message', class:'btn btn-primary btn-xs' %>
      <% elsif host_signed_in? %>
        <%= m.hidden_field :sender_id, value: current_host.id %>
        <%= m.hidden_field :sender_type, value: 'host' %>
        <%= m.submit 'Send Message', class:'btn btn-primary btn-xs' %>
      <% else %>
        <p>Sign in to send message</p>
      <% end %>

      <% if current_guest && @booking.status != "invite" && @booking.status != 'completed' %>
        <%= link_to 'Edit', edit_booking_path(@booking), class:"btn btn-xs btn-warning", style:"color:#fff" %>
      <% end %>

      <% if @booking.status == "completed" && @booking.testimonial.nil? %>
        <%= link_to 'Create Testimonial', make_testimonial_path(@booking.id), class:'btn btn-success btn-xs', style:"color:#fff"  %>
      <% end %>

      <% if @booking.check_finished? %>
        <button id="complete" class="btn btn-success btn-xs">Complete</button>
      <% end %>

    <% end %>
    <!-- <% link_to 'Back', bookings_path, class:"btn btn-warning btn-xs" %> -->
  </div>
</div>
