<h3 class="text-center">
  "<%= link_to @booking.experience.title, experience_path(@booking.experience) %>"
</h3>
<div class = "container col-md-offset-3">

  <div id="booking_details">

    <p>
      <strong>Host by:</strong>
      <%= link_to @experience.host.username, host_path(@experience.host) %>
    </p>
    <p>
      <strong>Date:</strong>
      <%= @booking.date.strftime('%b %d, %Y (%A)')  %>
    </p>

    <p>
      <strong>Time:</strong>
      <%= @booking.experience.time.in_time_zone.strftime('%I:%M %p') %> ~
      <%= (@booking.experience.time + @booking.experience.duration.hour).in_time_zone.strftime('%I:%M %p') %>
      <small>(Local Time)</small>
    </p>

    <p>
      <strong>Group size:</strong>
      <%= @booking.group_size %> &nbsp;
      <strong>Is private?:</strong>
      <%= @booking.is_private ? "Yes" : "No"%>
    </p>

    <p>
      <strong>Status:</strong>

      <span id="status"> <b style="color:blue">"<%= @booking.status.capitalize %>"</b> </span> &nbsp;
      <% if @booking.status != "completed" && current_host == @booking.experience.host %>
        <%= link_to('UPDATE STATUS', edit_experience_booking_path(@experience, @booking), id:"update_link", class:"btn btn-primary btn-xs", style:"color:#fff" ) %>
        <!-- <%= button_to %> -->
      <% end %>

      <% if @booking.check_finished? && @booking.status == 'confirmed' %>
        <%= link_to "Mark as COMPLETE", mark_booking_completion_path(@booking), id: 'complete_link', method: :post, remote: true, class:"btn btn-success btn-xs" %>
      <% end %>
    </p>

    <% if current_guest && @booking.status == "invited" %>
      <%= link_to image_tag("https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-small.png"), @booking.paypal_url(booking_path(@booking))  %>
    <% end %>

  </div>

  <div>
    <strong>Additional Info: </strong>
    <%= @booking.add_info %>
  </div>

  <h5><strong>Messages:</strong></h5>
  <div class="row">
    <div id="messages" class="col-md-6">
      <% @messages.each do |message| %>
        <p>
          <% if message.sender_type == "host" %>
            <% sender = Host.find(message.sender_id) %>
          <% elsif message.sender_type == "guest" %>
            <% sender = Guest.find(message.sender_id) %>
          <% end %>

          <% if sender.images.present? %>
            <% image_tag sender.images.first.image_file.url(:thumb), class: "img-circle", style: "" %>
          <% end %>
        </p>

        <% if message.sender_type == "host" %>
          <% alert_type = "alert alert-info" %>
        <% elsif message.sender_type == "guest" %>
          <% alert_type = "alert alert-warning" %>
        <% end %>

        <div class="<%= alert_type %>" role="alert" style="margin-bottom:5px;padding-bottom:15px">
          <p style:"float:left"><%= simple_format message.text %></p>
          <small style="float:right">
            <strong><%= sender.username %></strong>
            <%= message.created_at.strftime('@%b %d, %Y') %>
          </small>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row col-md-6">
    <%= form_for @message, remote: true do |m| %>

      <%= m.label :message, value:'New Message'%><br>
      <%= m.text_area :text, required: true, title:nil, class:"form-control" %><br>
      <%= m.hidden_field :booking_id, value: @booking.id %>

      <% if guest_signed_in? %>
        <%= m.hidden_field :sender_id, value: current_guest.id %>
        <%= m.hidden_field :sender_type, value: 'guest' %>
        <%= m.submit 'Send Message', class:'btn btn-primary btn-xs' %>
      <% elsif host_signed_in? %>
        <%= m.hidden_field :sender_id, value: current_host.id %>
        <%= m.hidden_field :sender_type, value: 'host' %>
        <%= m.submit 'Send Message', class:'btn btn-primary btn-xs' %>
      <% else %>
        <p>Sign in to send message</p>
      <% end %>

      <% if current_guest && @booking.status != "invite" && @booking.status != 'completed' %>
        <%= link_to 'Edit', edit_experience_booking_path(@experience, @booking), class:"btn btn-xs btn-warning", style:"color:#fff" %>
      <% end %>

      <% if @booking.status == "completed" && @booking.testimonial.nil? %>
        <%= link_to 'Create Testimonial', make_testimonial_path(@booking), class:'btn btn-success btn-xs', style:"color:#fff"  %>
      <% end %>

      <% if @booking.check_finished? %>
        <button id="complete" class="btn btn-success btn-xs">Complete</button>
      <% end %>

    <% end %>
    <% if current_host || current_guest %>
    <div>
      <%= link_to 'Cancel booking', @booking, method: :delete, data: { confirm: 'Are you sure?' },class:'btn btn-warning btn-xs' %>
    </div>
    <% end %>
    <!-- <% link_to 'Back', bookings_path, class:"btn btn-warning btn-xs" %> -->
  </div>
</div>
