<h2 id="header_text" style="text-align: center">Forgot your password?</h2>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <% flash[:alert] = devise_error_messages! if devise_error_messages! %>

        <div class="form-inline" id="center_align" style="text-align: center">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class:"form-controls" %>

        <!-- <div class="actions"> -->
          <%= f.submit "Send", class:"btn btn-sm btn-primary", style:"background-color:#1abc9c" %>
        <!-- </div> -->
        </div>
      <% end %>

      <%= render "guests/shared/links" %>
    </div>
  </div>
</div>
