<script>
  $(document).ready(function() {
    console.log($("#current_guest").text());
    console.log($("#current_host").text());

    current_guest = $("#current_guest").text();
    current_host = $("#current_host").text();

    if (current_guest != "") {
      $("#new_host").attr("hidden", "true");
      $("#header_text").append("</br><div id=\"fancymessage\">You are currently signed in as a guest. If you really want to be a host, please return to the main page and log out before coming back here</div>");
      $("div#fancymessage").fancybox();  
    }
  });
</script>

<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2 id="header_text" style="text-align: center">Sign up as a Host</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </br>
        <div id="center_align" style="text-align: center">
          <div class="actions">
            <%= f.submit "Sign up" %></br></br>
            <%= render "hosts/shared/links" %>
            
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>

<label id="current_guest" hidden><%= current_guest%></label>
<label id="current_host" hidden><%= current_host%></label>

