<%= form_for @experience, html: {multipart: true} do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container">
  <div class="row">
    <div class="col-md-6">

        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title, placeholder: "eg. Ameristralian Brunch" %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_area :description, placeholder: "Let people know what it's about" %>
        </div>
        <div class="field">
          <%= f.label :duration %> (hours)<br>
          <%= f.text_field :duration, placeholder: "Estimate" %>
        </div>
        <div class="field">
          <%= f.check_box :is_halal %> <%= f.label :is_halal %>?
        </div>
        <div class="field">
          <%= f.label :cuisine %><br>
          <%= f.text_field :cuisine %>
        </div>
        <div class="field">
          <%= f.label :max_group_size %> (Don't want a hundred guests now do we?)<br>
          <%= f.number_field :max_group_size, in: 1..10, required: true %>
        </div>
        <div class="field">
          <%= f.label :host_style %><br>
          <%= f.text_area :host_style, placeholder: "Cook in front of them? Eat with them? Wash your own dishes? Anything you should make them expect" %>
        </div>
        </br>
    </div>
    <div class="col-md-6">
        <div class="field">
          <%= f.label :time, value: 'Preferred Time' %><br>
          <%= f.time_select :time, {minute_step: 15, ampm: true} %>
        </div>

        <div class="field">
          <%= f.label :available_days %> (Check at least one)<br>
          <%= f.hidden_field :available_days%>
          <%= f.fields_for :days do |d| %>
            <% [:sun, :mon, :tue, :wed, :thu, :fri, :sat].each_with_index do |w, i| %>
              <%= d.check_box i.to_s, @experience.available_days[i] != "-" ? {checked: true} : {checked: false} %><%= f.label w %>
            <% end %>
          <% end %>

        </div>
        <div class="field">
          <%= f.label :price %> (USD)<br>
          <%= f.text_field :price, placeholder: "Feeling generous are we?" %> $
        </div>

        <div class="field">
          <%= f.label :image %> ([ctrl + click] to select more than one image)<br>
          <%= f.file_field(:images_array, multiple: true) %>
          <small>supported file types: .jpg .png .gif</small>
        </div>
        </br>
        </br>
        <div class="actions">
            <%= f.submit %>
        </div>
        <% end %>
    </div>
  </div>
</div>

 <!--  <div class ="field">
   Wasn't doing anything
  </div> -->
