
<div class="container">
<%= form_for @experience, html: {multipart: true, class: "directUpload" } do |f| %>
  <!-- <% flash[:alert] = @experience.errors.full_messages if @experience.errors.any?%> -->
<% @experience.errors.count > 3 ? flash[:alert] = "Please fill out all the required fields." : flash[:alert] = @experience.errors.full_messages %>

  <div class="row">
    <div class="col-md-6">

      <div class="field">
        <label for="experience_title">* Title</label><br>
        <%= f.text_field :title, placeholder: "eg. Ameristralian Brunch", required: true, class: 'form-control', style: 'width: 75%' %>
      </div>
      <div class="field">
        <label for="experience_description">* Description</label>
        <%= f.text_area :description, placeholder: "Let people know what it's about", required: true, class: 'form-control', rows: '3', style: 'width: 75%' %>
      </div>

      <div class="field">
        <label for="experience_cuisine">* Cuisine</label>
        <%= f.text_field :cuisine, required: true, class: 'form-control', style: 'width: 75%' %>
      </div>
      <div class="field">
        <%= f.label :beverages %><br>
        <%= f.text_field :beverages, required: true, class: 'form-control', style: 'width: 75%' %>
      </div>
      <div class="field">
        <label for="exprience_max_group_size">* Max Group Size</label><br>
        <%= f.select :max_group_size, options_for_select(1..10, @experience.max_group_size), {},
          {required:true, class:'form-control', style:'width:20%'} %>
      </div>

      
      </br>
    </div>

    <div class="col-md-6">
    <div class="field">
        <%= f.label :host_style %><br>
        <p><small> This field is limited to 60 characters.</small></p>
        <%= f.text_area :host_style, placeholder: "Do you cook in front of them?", class: 'form-control', style: 'width: 74%', :onkeyup => "DjCheckMaxlength(this);", :maxlength => 60 %>
      </div>

    <%= f.label :date %>

    <!-- <p><small>Filling in this field will create a 'Host Party', which is a single date event suitable for celebrations such as Christmas. By leaving it empty, the event will be open and you can choose to accept or reject a date suggested by users.</small></p> -->

    <p><small>ONLY fill out the following if you would like to create a HOST PARTY. These are single date events suitable for celebrations such as Christmas. By leaving it empty, the event will be open and you can choose to accept or reject a date suggested by users.</small></p>

      <div class="field form-inline">
        <%= f.date_select :date,
        {include_blank:true, use_short_month:true, order:[:month, :day, :year],
        start_year: Date.today.year, end_year: Date.today.year.next},
        {class:"form-control"} %>
      </div>


      <div class="field" id="meal">
        <%= f.label :meal %> <br>
        <%= f.select(:meal, options_for_select(Experience.get_meals,
              @experience.meal), {},
              {required: true, class: 'form-control', style:"width:50%"}) %>
      </div>


      <div class="field">
        <%= f.label :region %> <br>
        <%= f.select(:location, options_for_select(Experience.get_all_location, current_host.state), {}, {required: false, class: 'form-control', style:"width:50%"}) %>
      </div>

      <div class="field">
                  <%= f.hidden_field :price %>
      </div>

    </div>
  </div>
  <hr>
  <h1 class="heads text-center pad-bot" style="color:#66a422; margin-left: -30px"> Image Uploads </h1>
  <p class=""><small> Please upload <strong>3 images</strong> with aspect ratio of close to 1:1 (i.e. square) and resolution of atleast 600*600 for optimal results. You will not be able to complete creating an experience without uploading all <strong>3 images</strong>.</small></p> 

  <p class="pad-bot smalls">Note: attempting to upload images larger than 4MB may cause issues.</p>
  <div class = "row">
    <div class="field col-md-4">
      <%= f.label :image_1 %><br>
      <% if @image_1.present? %>
        <br>
          <%= image_tag @image_1.image_file.url(:medium)%>
        <br>
      <% end %>
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default upload-experience btn-file">
            Browse<%= f.file_field(:images_1, multiple: false, required: true) %>
          </span>
        </span>
        <input type="text" id="showfilename" class="form-control" placeholder="" readonly>
      </div>
    </div>

    <div class="field col-md-4">
      <%= f.label :image_2 %><br>
      <% if @image_2.present? %>
        <br>
        <%= image_tag @image_2.image_file.url(:medium)%>
        <br>
      <% end %>

      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default upload-experience btn-file">
            Browse<%= f.file_field(:images_2, multiple: false, required: true) %>
          </span>
        </span>
        <input type="text" id="showfilename" class="form-control" placeholder="" readonly>
      </div>
    </div>

    <div class="field col-md-4">
      <%= f.label :image_3 %><br>
      <% if @image_3.present? %>
        <br>
          <%= image_tag @image_3.image_file.url(:medium)%>
        <br>
      <% end %>
      <div class="input-group">
        <span class="input-group-btn">
          <span class="btn btn-default upload-experience btn-file">
            Browse<%= f.file_field(:images_3, multiple: false, required: true) %>
          </span>
        </span>
        <input type="text" id="showfilename" class="form-control" placeholder="" readonly>
      </div>
    </div>
  </div>
<hr>
  <div class = "row">
    <div class="actions exp_cta pad-top pad-bot" align="center">
      <%= f.submit "Update my experience", class: 'btn', style: "color: #fff; text-transform: uppercase;font-size: 15px;  background:#66a422 !important; padding:20px", remote: true ,id: "test" %>
    </div>
  </div>
<% end %>
</div>

<script type="text/javascript">

  $(function(){
       if( window.location.pathname.indexOf("edit") >= 0 ){
      $('#showfilename').val('Browse to replace current experience images').attr('style','color:red');
      $('input[type*=submit]').val('Update Experience')
    }
  })
</script>
<script>
  $('.directUpload').find("input:file").each(function(i, elem) {

    var fileInput    = $(elem);
    var form         = $(fileInput.parents('form:first'));
    var submitButton = form.find('input[type="submit"]');
    var progressBar  = $("<div class='bar'></div>");
    var barContainer = $("<div class='progress'></div>").append(progressBar);

    var fd = <%= @s3_direct_post.fields.to_json.html_safe %>

    fileInput.after(barContainer);
    fileInput.fileupload({
      add: function (e, data) {
            fd["Content-Type"] = data.files[0].type;
            data.formData = fd;
             data.submit();
           },
      fileInput:       fileInput,
      url:             'https://s3-ap-southeast-1.amazonaws.com/mtdimagesdev/',
      type:            'POST',
      autoUpload:       true,
      formData:         fd,
      paramName:        'file', // S3 does not like nested name fields i.e. name="user[avatar_url]"
      dataType:         'XML',  // S3 returns XML if success_action_status is set to 201
      replaceFileInput: false,
progressall: function (e, data) {
        var progress = parseInt(data.loaded / data.total * 100, 10);
        progressBar.css('width', progress + '%')
      },
      start: function (e) {
        submitButton.prop('disabled', true);

        progressBar.
          css('background', 'green').
          css('display', 'block').
          css('width', '0%').
          text("Loading...");
      },
      done: function(e, data) {
        submitButton.prop('disabled', false);
        progressBar.text("Uploading done");

        // extract key and generate URL from response
        var key   = $(data.jqXHR.responseXML).find("Key").text();
        // key = key.replace(/ /g,"_");
        var url   = 'https://s3-ap-southeast-1.amazonaws.com/mtdimagesdev/' + key;


        // create hidden field
        var input = $("<input />", { type:'hidden', name: fileInput.attr('name'), value: url })

        form.append(input);


      },

      fail: function(e, data) {
        submitButton.prop('disabled', false);

        progressBar.
          css("background", "red").
          text("Failed");
      }
    });
  });

</script>

<!-- Limit chars for text area -->
<script language="javascript" type="text/javascript">
function DjCheckMaxlength(oInObj)
{
      var iMaxLen = parseInt(oInObj.getAttribute('maxlength'));
      var iCurLen = oInObj.value.length;

      if ( oInObj.getAttribute && iCurLen > iMaxLen )
      {
          oInObj.value = oInObj.value.substring(0, iMaxLen);
      }
} //@ END OF DjCheckMaxlength()
</script>
