<%= form_for @experience, html: {multipart: true} do |f| %>
  <% if @experience.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this experience from being saved:</h2>

      <ul>
      <% @experience.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :duration %><br>
    <%= f.text_field :duration %>
  </div>
  <div class="field">
    <%= f.label :is_halal %><br>
    <%= f.check_box :is_halal %>
  </div>
  <div class="field">
    <%= f.label :cuisine %><br>
    <%= f.text_field :cuisine %>
  </div>
  <div class="field">
    <%= f.label :max_group_size %><br>
    <%= f.number_field :max_group_size %>
  </div>
  <div class="field">
    <%= f.label :host_style %><br>
    <%= f.text_area :host_style %>
  </div>
  <div class="field">
    <%= f.label :available_days %><br>
    <%= f.hidden_field :available_days%>
    <!-- <br> -->

    <%= f.fields_for :days do |d| %>
      <%= d.check_box "0", @experience.available_days[0] == "1" ? {checked: true} : {checked: false} %><%= f.label :sun %>
      <%= d.check_box "1", @experience.available_days[1] == "1" ? {checked: true} : {checked: false} %><%= f.label :mon %>
      <%= d.check_box "2", @experience.available_days[2] == "1" ? {checked: true} : {checked: false} %><%= f.label :tue %>
      <%= d.check_box "3", @experience.available_days[3] == "1" ? {checked: true} : {checked: false} %><%= f.label :wed %>
      <%= d.check_box "4", @experience.available_days[4] == "1" ? {checked: true} : {checked: false} %><%= f.label :thu %>
      <%= d.check_box "5", @experience.available_days[5] == "1" ? {checked: true} : {checked: false} %><%= f.label :fri %>
      <%= d.check_box "6", @experience.available_days[6] == "1" ? {checked: true} : {checked: false} %><%= f.label :sat %>
    <% end %>

  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <!-- <div class="field">
    <%= f.label :host_id %><br>
    <%= f.number_field :host_id %>
  </div> -->
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image_file %>
    <small>supported file types: .jpg .png .gif</small>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
