<script type="text/javascript">
  $(function () {
    $('#datetimepickerfrom').datetimepicker({
      format: 'MMMM DD, YYYY',
      minDate: moment(),
      <% if @input_datefrom.present? %>
      defaultDate: moment().add(<%=  (@input_datefrom - Date.new(Time.now.year, Time.now.month, Time.now.day)).to_i %>, 'days'),
      <% byebug %>
      <% end %>
    });
    $('#datetimepickerto').datetimepicker({
      format: 'MMMM DD, YYYY',
      minDate: moment(),
      <% if @input_dateto.present? %>
      defaultDate: moment().add(<%=  (@input_dateto - Date.new(Time.now.year, Time.now.month, Time.now.day)).to_i %>, 'days'),
      <% end %>
    });
    $("#datetimepickerfrom").on("dp.change", function (e) {
        $('#datetimepickerto').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepickerto").on("dp.change", function (e) {
        $('#datetimepickerfrom').data("DateTimePicker").maxDate(e.date);
    });

//  Date.strptime('April 13, 2015',"%B %d, %Y")
  });
</script>

<div style="background-image:url('assets/greg.jpg'); background-attachment: fixed; margin-top:-20px;" id="pre_foot">
  <div class="row">
          <div class="col-md-4 col-md-offset-4">

              <h1 style="text-align:center; color:#fff; margin-top:70px">FIND THE PERFECT HOST</h1>
              </br>

              <div class="row">

                <%= form_tag '/experiences_search', :class => "form-inline" do %>
                  <%= select("experience", "location", Experience.get_location.collect {|p| [ p, p ] }, {}, class: "form-control", style: "width:82%") %>

                  <div class='input-group date' id='datetimepickerfrom'>
                      <input type='text' name="dateFR" class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>

                  <div class='input-group date' id='datetimepickerto'>
                      <input type='text' name="dateTO" class="form-control" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>

                  <%= submit_tag "Filter", id:'filter', class: "btn btn-primary", style: "background-color:#1abc9c; color:#f5f5f5; border-color:#1abc9c" %>

                <% end %>

              </div>
          </div>
  </div>
        </br>
        </br>
        </br>
</div>



  <div class="container" style="margin-top:40px">
       <% @experiences.in_groups_of(3, false).each do |group| %>

          <div class="row">
            <% group.each do |experience| %>

              <div class="col-md-4">

                  <div class="thumbnail">
                     <%= image_tag experience.images.first.image_file.url(:medium)%>
                      <div class="caption" style="background-color: #D4D4D4; height: 100%">
                          <div id="avataro">
                      <%= image_tag experience.host.images.first.image_file.url(:thumb), class: "img-circle"%>
                        </div>

                          <p><%= link_to experience.host.username,  "/hosts/" + experience.host_id.to_s %></p>
                           <p>
                            Rating:
                            <%= @average_rating.nil? ? '-' : @average_rating %>
                          </p>
                          <h3><%= truncate(experience.title, length: 20) %></h3>

                         <!--  <p><a href="#" class="btn btn-info btn-xs" role="button">Button</a></p> -->
                          <p style="text-align: left"><%= link_to 'More info', experience, class: "btn btn-info btn-xs", style: "color:#fff" %>
                                    <% if current_host == experience.host || current_admin %>
                                      | <%= link_to 'Edit', edit_experience_path(experience), class: "btn btn-info btn-xs btn_admins" %> |
                                      <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info btn-xs btn_admins" %></p>
                        <% end %>


                      </div>


                  </div>
              </div>
            <% end %>
          </div>
        <% end %>

</div>
