<!-- <div class="container"> -->
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align:center">Experiences await</h1>
        </br>

        <div>

          <%= form_tag '/experiences_search' do %>
            <%= select("experience", "location", Experience.get_location.collect {|p| [ p, p ] }, {}, class: "form-control") %></br>
            <div style="text-align:center">
            <%= submit_tag "Filter", class: "btn btn-default", style: "background-color: #fed136" %>
            </div>
          <% end %>
         
        </div>
    </div>
  </div>
  <hr>

        <% @experiences.in_groups_of(3, false).each do |group| %>

          <div class="row">
            <% group.each do |experience| %>

              <div class="col-md-4">
              
                  <div class=" col-md-4 ">
                    <div class="[ info-card ]">
                     <%= image_tag experience.images.first.image_file.url(:medium), style: "width:400px; height:375px"%>
                      <div class="[ info-card-details ] animate">
                        <div class="[ info-card-header ]">
                          <h1> <%= truncate(experience.title, length: 20) %></h1>
                          <h3>Hosted by <%= link_to experience.host.username,  "/hosts/" + experience.host_id.to_s %></h3>
                      </div>

                        <div class="[ info-card-detail ]">
                        <!-- Description -->
                            
                            <h4><%= truncate(experience.description, length: 100) %></h4>
                            <% duration = (experience.duration*60).divmod(60) %>
                            <p>Cuisine: <%= experience.cuisine %></p>
                             
                              <p><%= experience.is_halal ? "halal" : "non-halal" %></p>
                            
                            <p>Max Group Size: <%= experience.max_group_size %></p>
                            <% if experience.host_style %>
                              <p>Host Style: <%= truncate(experience.host_style, length: 44) %></p>
                            <% end %>
                            <p>Available on:
                              <% days = ["Sundays", "Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays"] %>
                              <% avail_days = experience.available_days.split(//).select {|num| num != "-"}.map { |num| days[num.to_i] } %>
                              <%= avail_days.to_sentence %>
                            </p>
                            <p><%= duration[0] %> hours <%= duration[1].to_i %> minutes.</p>
                            <p><%= experience.price %>$</p>
                            <p><%= link_to 'Find out more', experience %>
                            <% if current_host == experience.host || current_admin %>
                              | <%= link_to 'Edit', edit_experience_path(experience) %> |
                              <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></p>
                            <% end %>
                          </div>
                      </div>
                  
                  </div>
                </div>
              </div>
            <% end %>
          </div>







<!-- need to use each with index to make sure a new row starts every 3 experience boxes (i.e. where %3 == 0) -->


        <% end %>
      </div>
    </div>
<!-- </div>
 -->

