<h1>Listing Experiences</h1>


<div>

  <%= form_tag '/experiences_search' do %>
  <%= select("experience", "location", Experience.get_location.collect {|p| [ p, p ] }) %>
  <%= submit_tag "Filter" %>
  <% end %>
 
</div>



<div class="row">
  <% @experiences.each do |experience| %>

    <div class="col-sm-4">
      <div class="highlight">
        <h2><%= truncate(experience.title, length: 20) %>
          <p><%= experience.is_halal ? "(halal)" : "" %></p>
        </h2>
        <p>Hosted by <%= link_to experience.host.username,  "/hosts/" + experience.host_id.to_s %></p>
        <h4><%= truncate(experience.description, length: 100) %></h4>
        <% duration = (experience.duration*60).divmod(60) %>
        <p>Cuisine: <%= experience.cuisine %></p>
        <p>Max Group Size: <%= experience.max_group_size %></p>
        <% if experience.host_style %>
          <p>Host Style: <%= truncate(experience.host_style, length: 44) %></p>
        <% end %>
        <p>Available on:
          <% days = ["Sundays", "Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays"] %>
          <% avail_days = experience.available_days.split(//).select {|num| num != "-"}.map { |num| days[num.to_i] } %>
          <%= avail_days.to_sentence %>
        </p>
        <p><%= duration[0] %> hours <%= duration[1].to_i %> minutes.</p>
        <p><%= experience.price %>$</p>
        <p><%= link_to 'Show', experience %>
        <% if current_host == experience.host || current_admin %>
          | <%= link_to 'Edit', edit_experience_path(experience) %> |
          <%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
