<div id = "loading" style = "display: none;">
  <p> Your pictures are loading..... </p>
</div>

<div class="row" id="mealpanel">
  <% @experience.images.limit(3).each_with_index do |image, index| %>
    <div class="col-sm-4" style="padding:0px">
      <%= image_tag image.image_file.url(:medium), id: index %>
    </div>
  <% end %>
</div>

<div class="col-md-4" id="hostinfo">
  <div class="row center-block" id="profilepic" style="padding:0px">
    <% @host = @experience.host %>
    <% if @host.images.present? %>
      <%= image_tag @host.images.first.image_file.url(:medium), class: "img-circle col-sm-4 col-sm-offset-3", style:"height:50%; width:50%" %></br>
    <% else %>
      <%= image_tag "box.jpeg", class: "img-circle col-md-3 col-md-offset-3", style:"height:50%;width:50%" %>
    <% end %>
  </div>

  <%= content_tag 'h3', @host.username, class:"text-center" %>

  <div class="row" id="bookinfo">
    <div class="col-md-10 col-md-offset-1">
       <div class="row" style="text-align:center; padding-top:20px;">
          <%= link_to "MESSAGE", new_guest_registration_path, :class => 'btn btn-success white' %></div>
      <h4 style="padding-top:20px;   padding-top: 20px;
  color: #000;
  font-size: 28px;
  font-weight: 600;" class="text-center">DKK <%= @experience.price.round %>
        <span>PER PERSON</span></h4>

     <%= content_tag :p, "Host Party @ #{@experience.date.strftime('%b %d, %Y')}",       class:"text-center" if @experience.special_event? %>
      <%= render 'bookings/form' %>
    </div>
  </div>

</div>

<div class="col-md-8" id="mealinfo">
  <div class="row" id="mealframe">
    <%= link_to 'Edit', edit_experience_path(@experience), class: "btn btn-warning btn-sm btn_admins pull-right" if current_host == @experience.host%>

    <%= content_tag 'h1', @experience.title %>

    <%= content_tag 'p', "#{@host.suburb}, #{@host.state}, #{@host.country} (Age #{@host.age})" %>
    <%= content_tag 'p', @host.intro %>
    <%= content_tag 'p', "Speaks: #{@host.languages}" %>

    <label>Neighbourhood:</label>
    <%= content_tag 'p', @host.neighbourhood %>

    <label>Additional Information:</label>
    <%= content_tag 'p', @host.additional_info %>
  </div>

  <div class="row" style="" id="menuframe">
    <h2>MENU</h2>
    <table class="table" id="menutab">
      <thead>
        <tr>
          <th>MEAL</th>
          <th>ALCOHOL SERVED</th>
          <th>CUISINE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @experience.meal %></td>
          <td><%= @experience.beverages %></td>
          <td><%= @experience.cuisine %></td>
        </tr>
      </tbody>
      </table>

    <table class="table" id="menutab">
       <thead>
        <tr>
          <th>GROUP SIZE</th>
          <th>TIME</th>
          <th>PRICE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @experience.max_group_size %> Max</td>
          <td>
          <%= @experience.time.in_time_zone.strftime('%I:%M %p') %> -
          <%= (@experience.time.in_time_zone +
                @experience.duration.hour).strftime('%I:%M %p') %>
          </td>
          <td>DKK <%= @experience.price.round %></td>
        </tr>
      </tbody>
      </table>

    <table class="table">
       <thead>
        <tr>
          <th id = "hoststyle_title">HOST STYLE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <%= @experience.host_style if @experience.host_style %>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
       <thead>
        <tr>
          <th id = "hoststyle_title">DESCRIPTION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
              <%= @experience.description if @experience.description %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
   <div class="row" id="specframe">
    <h2>MEAL FORMAT</h2>
    <table class="table" id="menutab">
      <thead>
        <tr>
          <th>PRICE</th>
          <th>GROUP SIZE</th>
          <th>HOST STYLE</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @experience.price %></td>
          <td><%= @experience.max_group_size %> Max</td>
          <td><%= @experience.host_style%></td>
        </tr>
      </tbody>
    </table>
  </div>




  <%if @host.video_url.present?%>
  <div class="row" id="menuframe">
    <h2>VIDEO PRESENTATION</h2>
    <embed width="600" height="315" src=<%= "#{@host.video_url}" %>>
  </div>
  <% end %>

  <div class="row" id="menuframe">
   <h2>MAP</h2>
   <div id="map-canvas" style="float:left; max-width: 750px"></div>
  </div>



                 <!-- Curious map code -->
  <div id="mapLat" style="display: none;">
    <% if @host.latitude -%><%= @host.latitude -%><% else -%>-82.8<% end -%>
  </div>
  <div id="mapLng" style="display: none;">
    <% if @host.longitude %><%= @host.longitude %><% else %>-135<% end %>
  </div>

  <% if @host.experiences.special_events.present? %>

    <div class="row" id="specframe">
      <h2>HOST PARTY</h2>
        <p><%= @host.next_host_party.description %> </p>
        <%= link_to 'Book Now', @host.next_host_party, class: "btn btn-danger btn-lg", style: "color:#fff; text-transform:uppercase; line-height: 35px;" %>
    </div>
  <% end %>


  <div class="row" id="testiframe">
    <h2>REVIEWS</h2>
    <% @testimonials.each do |testimonial| %>
      <%= content_tag 'h5', testimonial.title %>
      <%= simple_format(testimonial.body) %>
    <% end %>
  </div>
</div>
<% if flash[:notice] %>

<script>

$(function(){
    function check_job_status(job_id){
    var request = $.ajax({
      type: "GET",
      url: '/experiences/' + job_id
    });
    request.done(function(response){
      if (response === 'true'){
        location.reload();
      } else {
        setTimeout(function(){ check_job_status(job_id) }, 5000);

      }
    });
  };
   $("#loading").show();
  $("#mealpanel").hide();
  var id = <%= @experience.id %>
  check_job_status(id)
});
</script>
<% end %>
<script>
$(function(){
  $(window).scroll(function(){
    if(($(window).scrollTop() + 0) >= ($('#1').height() + $('#profilepic').height()) && $(window).width() > 992){
      $('#hostinfo').css({position:'fixed', top:0 - $('#profilepic').height()});
      $('#mealinfo').css({float:'right'});
    }else{
      $('#hostinfo').css({position:'initial'});
    }
  });
});
</script>
