<div id = "loading" style = "display: none;">
  <p> Your pictures are loading..... </p>
</div>

<div class="row" id="mealpanel">
  <% @images_for_experiences.each_with_index do |image, index| %>
    <div class="col-sm-4" style="padding:2px">
        <%= image_tag image.image_file.url(:medium), id: index %>
    </div>
  <% end %>
</div>

<div class="col-md-4" id="hostinfo">
  <div class="row center-block" id="profilepic" style="padding:0px">
    <% @host = @experience.host %>
    <% if @host.images.present? %>
      <%= image_tag @host.images.first.image_file.url(:medium), class: "img-circle col-sm-4 col-sm-offset-3", style:"height:50%; width:50%" %></br>
    <% else %>
      <%= image_tag "box.jpeg", class: "img-circle col-md-3 col-md-offset-3", style:"height:50%;width:50%" %>
    <% end %>
  </div>

  <%= content_tag 'h3', @host.username, class:"text-center" %>

  <div class="row" id="bookinfo">
    <div class="col-md-10 col-md-offset-1">
       <!-- <div class="row" style="text-align:center; padding-top:20px;">
          <%= link_to "MESSAGE", new_guest_registration_path, :class => 'btn btn-success white' %></div> -->
      <!-- <h4 style="padding-top:20px;   padding-top: 20px; color: #000; font-size: 28px;font-weight: 600;" class="text-center">DKK <%= @experience.price.round %>
        <span>PER PERSON</span></h4> -->

     <%= content_tag :p, "Host Party @ #{@experience.date.strftime('%b %d, %Y')}", class:"text-center" if @experience.special_event? %>
      <%= render 'bookings/form' %>
    </div>
  </div>

</div>

<div class="col-md-8" id="mealinfo">
  <div class="row border_bottom " id="mealframe">
    <%= link_to 'Edit', edit_experience_path(@experience), class: "btn btn-warning btn-sm btn_admins pull-right" if current_host == @experience.host%>

    <%= content_tag 'h1', @experience.title %>

    <%= content_tag 'p', "#{@host.location} (Age #{@host.age})" %>
    <hr style="margin-top: -5px">
    <label class="labelz">Host Presentation:</label>
    <% if @experience.date == nil %>
      <%= content_tag 'p', @host.host_presentation %>
    <% else %>
      <%= content_tag 'p', @experience.host_style %>
    <% end %>

    <label class="labelz">Speaks:</label>
    <%= content_tag 'p', @host.languages %>

    <label class="labelz">Neighbourhood:</label>
    <%= content_tag 'p', @host.neighbourhood %>

    <label class="labelz">Profession:</label>
    <%= content_tag 'p', @host.occupation %>
  </div>
<div id="menu-border">
  <div class="row" style="" id="menuframe-menu">
    <h2 align="center" class="pad-bot">MENU</h2>
    <table class="table table-striped" id="menutab">
      <thead>
        <tr>
          <th id="titlez">Meal</th>
          <th id="titlez">Alcohol Served</th>
          <th id="titlez">Cuisine</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="rowz"><%= @experience.meal %></td>
          <td id="rowz"><%= @experience.beverages %></td>
          <td id="rowz"><%= @experience.cuisine %></td>
        </tr>
      </tbody>
      </table>

    <table class="table table-striped" id="menutab">
       <thead>
        <tr>
          <th id="titlez">Group size</th>
          <th id="titlez">Time</th>
          <th id="titlez">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="rowz"><%= @experience.max_group_size %> Max</td>
          <td id="rowz">
          <%= @experience.time.in_time_zone.strftime('%I:%M %p') %> -
          <%= (@experience.time.in_time_zone +
                @experience.duration.hour).strftime('%I:%M %p') %>
          </td>
          <td id="rowz">DKK <%= @experience.price.round %> per person <br> Children from 0-7 years, free of charge 
          <br>Children from 8-13, half price</td>
        </tr>
      </tbody>
      </table>

    <table class="table table-striped">
       <thead>
        <tr>
          <th id="xtra-titlez">We love making this kind of food</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td align="center">
              <%= @experience.host_style if @experience.host_style %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <br>
   <div class="row border-bottom" id="specframe77" style="margin-top: -2px; border-bottom: 5px solid #66a422 !important;">
    <h2 align="center" class="pad-bot">OTHER DETAILS</h2>
    <table class="table table-striped" id="menutab">
      <thead>
        <tr>
          <th id="titlez">Interests</th>
          <th id="titlez">Pets</th>
          <th id="titlez">Smoker?</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="rowz"><%= @experience.host.interests %></td>
          <td id="rowz"><%= @experience.host.pets %></td>
          <% if @experience.host.smoker == false %>
          <td id="rowz">No</td>
          <% else %>
          <td id="rowz">Yes </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>



  <%if @host.video_url.present?%>
  <div class="row " id="menuframe" style="background-color: #f9f9f9;">
    <h2>VIDEO PRESENTATION</h2>
    <embed width="600" height="315" src=<%= "#{@host.video_url}"%> style="max-width: 600px; width: 95%;">
  </div>
  <% end %>

  <div class="row border-top" id="menuframe">
   <h2>MAP</h2>
   <div id="map-canvas" style="float:left; max-width: 750px; width: 95%; margin-bottom: 20px;"></div>
  </div>



                 <!-- Curious map code -->
  <div id="mapLat" style="display: none;">
    <% if @host.latitude -%><%= @host.latitude -%><% else -%>-82.8<% end -%>
  </div>
  <div id="mapLng" style="display: none;">
    <% if @host.longitude %><%= @host.longitude %><% else %>-135<% end %>
  </div>

<% if @experience.special_event? == false %>
  <% if @host.experiences.special_events.present? && @host.next_host_party != nil %>

    <div class="row" id="specframe">
      <h2 class="center">HOST PARTY</h2>
      <p><%= @host.host_presentation %> </p>
        <%= link_to 'Book Now', @host.next_host_party, class: "btn btn-danger btn-lg", style: "color:#fff; text-transform:uppercase; line-height: 35px;" %>
    </div>
  <% end %>
<% end %>

<!-- Testimonials section only shows if testimonials are present -->
  <%if @host.testimonials.present?%>
    <div class="row" id="testiframe">
      <h2 align="center">REVIEWS</h2>
      <% @testimonials.each do |testimonial| %>
        <%= content_tag 'h5', testimonial.title %>
        <%= simple_format(testimonial.body) %>
      <% end %>
    </div>
  <% end %>
</div>


<% if flash[:notice] %>

<script>

$(function(){
    function check_job_status(job_id){
    var request = $.ajax({
      type: "GET",
      url: '/experiences/' + job_id
    });
    request.done(function(response){
      if (response === 'true'){
        location.reload();
      } else {
        setTimeout(function(){ check_job_status(job_id) }, 5000);

      }
    });
  };
   $("#loading").show();
  $("#mealpanel").hide();
  var id = <%= @experience.id %>
  check_job_status(id)
});
</script>
<% end %>
<script>
$(function(){
  $(window).scroll(function(){
    if(($(window).scrollTop() + 0) >= ($('#1').height() + $('#profilepic').height()) && $(window).width() > 992){
      $('#hostinfo').css({position:'fixed', top:0 - $('#profilepic').height()});
      $('#mealinfo').css({float:'right'});
    }else{
      $('#hostinfo').css({position:'initial'});
    }
  });
});
</script>

