<h2><%= @experience.title %>
  <p><%= @experience.is_halal ? "(halal)" : "" %></p>
</h2>
<p>Hosted by: <%= link_to @experience.host.username,  "/hosts/" + @experience.host_id.to_s %></p>
<h4><%= @experience.description %></h4>
<% duration = (@experience.duration*60).divmod(60) %>
<p>Cuisine: <%= @experience.cuisine %></p>
<p>Max Group Size: <%= @experience.max_group_size %></p>
<% if @experience.host_style %>
  <p>Host Style: <%= @experience.host_style %></p>
<% end %>
<p>Available on:
  <% days = ["Sundays", "Mondays", "Tuesdays", "Wednesdays", "Thursdays", "Fridays", "Saturdays"] %>
  <% avail_days = @experience.available_days.split(//).select {|num| num != "-"}.map { |num| days[num.to_i] } %>
  <%= avail_days.to_sentence %>
</p>
<p><%= duration[0] %> hours <%= duration[1].to_i %> minutes.</p>

<p><%= @experience.price %>$</p>
<p>
  <strong>Image(s):</strong></br>
  <%  @experience.images.each do |image| %>
  <%=   image_tag image.image_file.url(:medium) %></br>
  <%  end %>
</p>

<%=link_to 'Book', "#{@experience.id}/bookings/new" %> |
<% if current_host == @experience.host %>
  <%= link_to 'Edit', edit_experience_path(@experience) %> |
<% end %>
<%= link_to 'Back', experiences_path %>
