<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @guest.username %>! </h1>
    <p>
      Thank you for booking an experience with Meet the Danes. We hope you enjoyed meeting the Host and had a really nice and interesting time together. 
    </p>  
    <p>
      Also, it would be great if you could let us know how you heard about Meet The Danes in the first place by filling out <%= link_to 'this form', "https://docs.google.com/forms/d/14GKvHl6iEWpteUlLhybVEVv-gcyjJYCxe35zJp7LpCA/viewform" %>.
    </p>

    <p>
      You can also leave a review at <%= link_to 'Facebook' , "www.facebook.com/meetdanes" %> or at <%= link_to 'TripAdvisor' , "https://www.tripadvisor.dk/Attraction_Review-g1572420-d8743799-Reviews-Meet_the_Danes-Bronshoej_Copenhagen_Region_Zealand.html" %>. 
    </p>
    <p>Thanks for using <%= link_to 'Meet The Danes', root_url %> and have a great day!</p>

  </body>
</html>