<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there <%= @guest.username %>! You have a message from <%= @host.first_name %> <%= @host.last_name %>! </h1>
    
      <p> <%= @message.text %> </p>
    <p>
        For the full conversation history, check out <%= @booking.experience.title %> via the Bookings tab like in the picture below:
    </p>
<!-- INSET SCREENSHOT OF BOOKINGS TAB BELOW-->    
<%= image_tag("https://s3-ap-southeast-1.amazonaws.com/mtdimages/emailimages/bookings_tab_new.png") %>
    <p>
      For a shortcut to loggin in, follow <%= link_to 'Meet the Danes' , new_guest_session_url %>.
    </p>
    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>