<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your payment <%= @guest.username %></h1>
    <p>
      Your booking details are as below:</br>
      Host name: <%= @host.first_name %> <%= @host.last_name %> </br>
      Host Email: <%= @host.email %> <br>
      Host Phone Number: <%= @host.phone %> <br>
      Experience title: <%= @booking.experience.title %> </br>
      Date: <%= @booking.date %> </br>
      Time: <%= @booking.start_time.in_time_zone.strftime("%I:%M %p") %> until <%= @booking.end_time.in_time_zone.strftime("%I:%M %p") %> </br>
      Address: <%= @host.street_address %> </br>
      ZIP Code and Town: <%= @host.zip %> <%= @host.suburb %> </br>
      State: <%= @host.state_to_english %> </br>
    </p>
    <p>
      To help you get to the host with Public Transport and Travel planner:
      please click <%= link_to "Here" , "http://www.rejseplanen.dk" %>

    </p>
    <p>
      For a handy map to help you get there, please click <%= link_to "Here", @google_map %> <br>

      You can review your bookings in your Account Profile via <%= link_to 'Meet the Danes', new_guest_session_url %> 
    </p>
    <p>Have a wonderful time together with your host. You are welcome to write about us and let others know about your experience. </p>

    <p>Kind regards</p>
    <p>Meet The Danes</p>
  </body>
</html>