<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your payment <%= @guest.username %></h1>
    <p>
      Your booking details are as below:</br>
      Host name: <%= @host.first_name %> <%= @host.last_name %> </br>
      Host Email: <%= @host.email %> <br>
      Host Phone Number: <%= @host.phone %> <br>
      Experience title: <%= @booking.experience.title %> </br>
      Date: <%= @booking.date %> </br>
      Time: <%= @booking.start_time.in_time_zone.strftime("%I:%M %p") %> until <%= @booking.end_time.in_time_zone.strftime("%I:%M %p") %> </br>
      Address: <%= @host.street_address %> </br>
      ZIP Code and Town: <%= @host.suburb %> </br>
      State: <%= @host.state %> </br>
    </p>
    <p>
      For a handy map to help you get there, please click <%= link_to "Here", @google_map %>

      You can review your bookings in your Account Profile via <%= link_to 'Meet the Danes', new_guest_session_url %> 
    </p>
    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>