<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new host has been created </h1>
    <p>
     A new host has been created to join the ranks of Meet the Danes. They are probably waiting patiently for your approval.
     His/Her details are as follows, <br>
     Name = <%= @host.first_name %> <%= @host.last_name %> <br>
     Occupation = <%= @host.occupation %> <br>
     Interests = <%= @host.interests %> <br>
     Introduction = <%= @host.intro %>   
    </p>

    <p>
      Get more information about your host at <%= link_to 'his profile' , host_url(@host) %>
    </p>
   

  </body>
</html>