<div class="container">
  <% if current_host %>
    <div class="col-md-8 col-md-offset-2">
      <%= render 'no_host_login' %>
    </div>
  <% else %>
  <div class="col-md-4 col-md-offset-4">
      <h2 class="heads" style="text-align:center; color:#66a422; font-size:70px;">Guest Login</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        </br>

        <% if devise_mapping.rememberable? -%>
          <div class="field" >
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions" style="text-align:center">

          <%= f.submit "Log in", class: "btn btn-green", style:"color: #fff; text-transform: uppercase;font-size: 15px; padding-left: 30px !important;
  padding-right: 30px !important; background: #66a422 !important;" %>
          </br></br>

          <div class="text-center">
            <%= link_to guest_omniauth_authorize_path(:facebook),
             class:"btn btn-success", style:"color:white" do-%>
                <i class="fa fa-facebook-official fa-lg"></i>
                Log in with Facebook ?
            <% end %>
            <br><br>
          </div>

          <%= render "guests/shared/links" %>
        </div>
      <% end %>
    <!-- ending else statement -->
  </div>
<% end %>
</div>
