<%= form_for @post, html: { multipart: true} do |f| %>
	<% if @post.errors.any? %>
		<div id="errors">
			<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
			<ul>
				<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<%= f.label :title %>
	<%= f.text_field :title, class: "form-control", style: "width:50%" %><br>

	<%= f.label :body %><br>
	<%= f.text_area :body, class: "form-control wysihtml5 col-md-10", style: "width:100%; height: 200px" %><br>
	<br>

	<!-- <%= f.label :image %><br>
	<%= f.file_field :image %><br>
	<br> -->

  <div class="field">
    <!-- <%= f.label :image %><br> -->
    <div class="input-group">
      <span class="input-group-btn">
        <span class="btn btn-default btn-file">
          Upload Image<%= f.file_field(:image, multiple: false) %>
        </span>
      </span>
      <input type="text" class="form-control" placeholder="" readonly>
    </div>
    <!-- <small><kbd>ctrl + click</kbd> to select multiple images.</small> -->
  </div>

  <div class="actions pull-right">
   <%= f.submit "Publish!", class:"btn btn-default" %>
  </div>

<% end %>

<script type="text/javascript">
  $(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });

    $('.glyphicon-picture').parent().attr('style', 'display:none');
  });
</script>
