<div class="container pad-top pad-bot" id="post-show">

  <div class="col-md-12" align="center">

		<h1 class="title heads" style="color:#66a422"><%= @post.title %></h1>
		<p class="date">
			Submitted <%= time_ago_in_words(@post.created_at) %> Ago
			<% if admin_signed_in? %>
			| <%= link_to 'Edit', edit_post_path(@post) %> |
			  <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
		  <% end %>
		</p>
		<%= image_tag @post.images.first.image_file.url(:host_party), class:"img-responsive paddo" if @post.images.present? %>
		<%if @post.video_url.present?%>
		<div class="row" id="menuframe" style="background-color: #f9f9f9;">
		  <h2>VIDEO PRESENTATION</h2>
		  <embed width="600" height="315" src=<%= "#{@post.video_url}"%> style="max-width: 600px; width: 95%;">
		</div>
		<% end %>

	 				
		<p class="col-md-8 col-md-offset-2 post_content" id="post-content"><%= @post.body.html_safe %></p>
		
	  <!-- <%=  link_to 'Back to blog', blog_path %> -->

	</div>

<p align="center"><%= link_to 'Back to Blog', blog_path, class: 'btn btn-lg' if @post.post_type == "blog" %></p>
<p align="center"><%= link_to 'Back to Press', press_path, class: 'btn btn-lg' if @post.post_type == "press" %></p>

</div>
