<div class = "container">
	<div class ="row">
		<h1> Create Multi Dinner Booking </h1>
	</div>

	<div class = "row">

		<%= form_for @multidinner, html: { multipart: true } do |f| %>
		
		<div class="field">
		  <%= f.label :name %>
		  <%= f.text_field :name %>
		</div>

		<%= f.label :date %>
		<div class="field form-inline">
		  <%= f.date_select :date,
		  {include_blank:true, use_short_month:true, order:[:month, :day, :year],
		  start_year: Date.today.year, end_year: Date.today.year.next},
		  {class:"form-control"} %>
		</div> 

		<div class = "field">
			<%= label_tag :group_size %>
		  <%= text_field_tag :group_size_1 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_1",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>
		</div>

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_2 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_2",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>
		</div>
		     
		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_3 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_3",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>   			
		</div>

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_4 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_4",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>
		</div>

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_5 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_5",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>
		</div>

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_6 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_6",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>        
 	  </div> 

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_7 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_7",  options_from_collection_for_select(@host, "id", "username"), :prompt => "Please select" %>       
		</div> 

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_8 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_8",  options_from_collection_for_select(@host, "id", "username"),  :prompt => "Please select" %>
		</div> 

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_9 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_9",  options_from_collection_for_select(@host, "id", "username"), :prompt => "Please select" %>      
		</div> 

		<div class = "field">
		  <%= label_tag :group_size %>
		  <%= text_field_tag :group_size_10 %>
		  <%= label_tag :host %>
		  <%= select_tag "choose_host_10",  options_from_collection_for_select(@host, "id", "username"), :prompt => "Please select" %>
		</div> 

		<input type="hidden" id="partner_id" name="id" value= <%= "#{params[:id]}" %> />

		<div class = "field">
		  <%= submit_tag "Create Booking" %>
		</div>
		<% end %>
	</div>
</div>