
<%= form_for(@testimonial, html: {multipart: true}) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container testimonial_forms">
    <div class="row">
     <div class="col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title, class: "form-control", style: "width:50%" %>
        </div>
        <div class="field">
          <%= f.label :rating %>
          <span>Poor</span>
            <%= f.radio_button :rating, 1 %>
            <%= f.radio_button :rating, 2 %>
            <%= f.radio_button :rating, 3 %>
            <%= f.radio_button :rating, 4 %>
            <%= f.radio_button :rating, 5 %>
          <span>Great!</span>
        </div>
        <!-- <div class="field col-sm-6"> -->
          <% f.label :body %>
          <%= f.text_area :body , :cols => "40", :rows => "8", :maxlength=>"500", class: "col-md-6 col-sm-6 col-xs-6", required:true, style:"border-radius: 5px; border-color: #CCCCCC" %>
        <!-- </div> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-4 col-sm-offset-3 col-xs-offset-2">
        <!-- <div class="field"> -->
          <!-- <%= f.label :booking_id %><br> -->
          <%= f.hidden_field :booking_id, value:@booking.id %>
        <!-- </div> -->
        <div class="field">
          <%= f.label :image %>
          <small>([ctrl + click] to select more than one image)</small>
          <%= f.file_field(:images_array, multiple: true, class:"") %>
          <small>supported file types: .jpg .png .gif</small>
        </div>
        <!-- <div class="field"> -->
          <!-- <%= f.label :booking_id %><br> -->
          <%= f.hidden_field :booking_id, value:@booking.id %>
        <!-- </div> -->
        <div class="actions">
          <%= f.submit class:"btn btn-success btn-md" %>
        </div>
          <% end %>
      </div>
    </div>
  </div>
<!-- </div> -->
