<%= form_for(@testimonial, html: {multipart: true}) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="row">
     <div class="col-md-offset-2">
        <h1>Testimonial</h1> 
        <div class="field">
          <%= f.label :title %>
          <%= f.text_field :title  ,class: "form-control"%>
        </div>
        <div class="field">
          <%= f.label :rating %>
          <span>Poor</span>
            <%= f.radio_button :rating, 1 %>
            <%= f.radio_button :rating, 2 %>
            <%= f.radio_button :rating, 3 %>
            <%= f.radio_button :rating, 4 %>
            <%= f.radio_button :rating, 5 %>
          <span>Great!</span>
        </div>
        <div class="field">
          <%= f.label :body %>
          <%= f.text_area :body , :cols => "50", :rows => "8", :maxlength=>"300" ,class: "form-control"%>
        </div>
    </div>
    <div class="col-md-offset-4">
        <!-- <div class="field"> -->
          <!-- <%= f.label :booking_id %><br> -->
          <%= f.hidden_field :booking_id, value:@booking.id %>
        <!-- </div> -->
        <div class="field">
          <%= f.label :image %> ([ctrl + click] to select more than one image)
          <%= f.file_field(:images_array, multiple: true) %>
          <small>supported file types: .jpg .png .gif</small>
        </div>
        <!-- <div class="field"> -->
          <!-- <%= f.label :booking_id %><br> -->
          <%= f.hidden_field :booking_id, value:@booking.id %>
        <!-- </div> -->
        <div class="actions">
          <%= f.submit %>
        </div>
          <% end %>
    </div>
  </div>
  </div>

