<p>
  <strong>Title:</strong>
  <%= @testimonial.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @testimonial.body %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @testimonial.rating %>
</p>

<p>
  <strong>Booking:</strong>
  <%= @testimonial.booking_id %>
</p>

<p>
  <strong>Image(s):</strong></br>
  <%  @testimonial.images.each do |image| %>
  <%=   image_tag image.image_file.url(:medium) %></br>
  <%  end %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', booking_path(@booking) %>
