<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">

    <h2 style="text-align:center">Editing <%= current_guest.username %>'s account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f| %>
      <% flash[:alert] = devise_error_messages! if devise_error_messages! %>


      <div class="field">
        <%= f.label :about %><br />

        <%= f.text_area :about, class: "form-control" %>

      </div>
      
      <div class="field">
        <%= f.label :email %><br />

        <%= f.email_field :email, autofocus: true, class: "form-control"  %>

      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />

        <%= f.password_field :current_password, autocomplete: "off", class: "form-control"  %>

      </div>

      <div class="field">
        <label>Change password</label> <i>(leave blank if you don't want to change it)</i><br />

        <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>

      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />

        <%= f.password_field :password_confirmation, autocomplete: "off" ,class: "form-control" %>
      </div>
</br>
<div class="row" style="text-align: center">
        <%= button_tag(type: 'submit', class: "btn btn-default", style: "background-color:#1abc9c; color:#f5f5f5") do %> Update my Profile!
        <% end %>
        <% end %>

        <%= link_to "Back to Profile", :back, class: "btn btn-default", style: "background-color:#1abc9c; color:#f5f5f5"%>
   </div>
</br>
<hr>
      <div class="row" style="text-align: center">
        <h4>Delete your account</h4>

        <p><%= button_to "Delete account", registration_path(resource_name), data: { confirm: "Are you sure you want to delete your account?" }, method: :delete, class: "btn btn-default", style: "background-color:#660A0A; color:#f5f5f5"%></p>
          </div>
        
      </div>


    </div>
  </div>
</div>
