  <div class="container">
    <div class="col-md-6 pad-top">
      <div class = "col-md-10">
        <div class = "row">
          <h2 class="heads" style="text-align:center; color:#66a422; font-size:70px;">For Hosts</h2>
        </div>
        <div class = "row">
          <p class = "pad-top">If you are a <strong>Host</strong> or would like to apply to be one please apply or sign in below:</p>
          <div class="actions" style="text-align:center">
            <div class ="pad-top float-left">Sign up as a Host: <%= link_to "SIGN UP", new_host_registration_path, :class => 'btn btn-success green-btn-host' %></div>
            <div class = "text-center">
              <div class ="pad-top float-left" style = "margin-left: 25px;">Sign In as a Host: <%= link_to "SIGN IN", new_host_session_path, :class => 'btn btn-success green-btn-host' %></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 pad-top">
    <div class="row">
        <h2 class="heads" style="text-align: center; color:#3071a9; font-size:70px;">Sign up as a Guest</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true} ) do |f| %>
          <% flash[:alert] = devise_error_messages! if devise_error_messages! %>
          <div class="field">
            <%= f.label :username %><br />
            <%= f.text_field :username, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email,
             autofocus: true, class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @validatable %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>

        </br>

          <div class="actions" style="text-align:center">
            <%= f.submit "Sign up", class: "btn btn-primary", style: "", id: "guest_signup" %>
            </br></br>

            <div class="text-center ">
              <%= link_to guest_omniauth_authorize_path(:facebook),
               class:"btn btn-primary", style:"color:white" do-%>
                  <i class="fa fa-facebook-official fa-lg"></i>
                  Sign up with Facebook ?
              <% end %>
              <br><br>
            </div>

            <%= render "guests/shared/links" %>
          </div>

        <% end %>

      </div>
    </div>
  </div>
</body>
