<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Hi <%= @host.username %>, You have a new message regarding the <%= @booking.experience.title %> event </h1>
    
      <p> <%= @message.text %> </p>

    <p>
      See the full conversation history via the bookings tab at <%= link_to 'Meet the Danes' , new_host_session_url %>.
    <!-- INSERT BOOKINGS TAB IMAGE HERE-->
    <p> <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/mtdimages/emailimages/bookings_tab_new.png") %> </p>
    </p>

    <p>Thanks for using Meet the Danes, have a great day!</p>

  </body>
</html>