<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body> 
    <h1>Hi <%= @host.username %>! You have received payment for the <%= @booking.experience.title %> event from <%= @guest.username %>. </h1>
    <p>
      You can review the booking via the Bookings tab once signed in via <%= link_to 'Meet the Danes' , booking_index_url(@booking)%>.
    <!--INSET SCREENSHOT OF BOOKING LINK HERE-->   
    <p> <%= image_tag("https://s3-ap-southeast-1.amazonaws.com/mtdimages/emailimages/bookings_tab.png") %> </p>
    </p>
    <p>Thanks for using Meet the Danes and have a great day!</p>

  </body>
</html>