<footer class= "container-fluid" style="">
  <!-- <div class="row"> -->
  <div class="foot-sect col-md-4 col-md-offset-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1" align="left">
    <p>SIGN UP OUR NEWSLETTER</p>

    <%= form_tag('emailapi/subscribe', class: "form-inline", method: "post", id: "subscribe", remote: "true", 'data-type' => :json) do -%>
    <div class="input-group">
       <%= email_field(:email, :address, {class: "form-control", style:"", id: "email", placeholder: ""})%>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-success para", style:"font-size:14px") do %>
        SIGN UP<% end %>
      </span>
    </div>
    <% end %>
    <br>
    <ul class="list-inline">
      <li><a href="www.facebook.com"><span class="fa fa-facebook fa-2x"></span></a></li>
      <li><a href="www.linkedin.com"><span class="fa fa-linkedin fa-2x"></span></a></li>
      <li><a hret="www.twitter.com"><span class="fa fa-twitter fa-2x"></span></a></li>
    </ul>
    <br>
  </div>

  <div class="foot-sect col-md-4 col-md-offsef-0 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">
    <p>POPULAR LINKS</p>
    <div style="display:flex">
      <div class="text-left link-sect">
        <%= link_to "Explore", experiences_path %><br>
        <%= link_to "How it Works", how_it_works_path %><br>
        <%= link_to "Be a Host", new_host_registration_path %><br>
      </div>
      <div class="text-left link-sect">
        <%= link_to "Press", "#" %><br>
        <%= link_to "Blog", posts_path %><br>
        <%= link_to "Terms of Service", terms_of_service_path %><br>
        <!-- <a href="http://www.meetthelocals.com" target="_blank">Meet The Locals</a> -->
      </div>
    </div>
    <br>
  </div>

  <div class="foot-sect col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <a href="/" class="logo">Meet <span>the</span> Danes</a><br><br>
    <div class="text-left" style="margin-left:33%">
      <a href="tel:+4523284347">+45 232 84347</a><br>
      <a href="mailto:info@meetthedanes.dk">info@meetthedanes.dk</a><br>
      <a href="http://www.meetwithlocals.com" target="_blank">meetwithlocals.com</a>
    </div>
  </div>
  <!-- </div> -->
</footer>

<script>
  $(document).ready(function(){
    $("#subscribe").on("ajax:success", function(e, data, status, xhr) {
      $('#email-form').append("<li class='signup-notice'>" + xhr.responseJSON.msg + "</li>")
      // alert(xhr.responseJSON.msg);
    });

  });

</script>
