<footer class= "container-fluid">
  <div class="row" style="padding-left:20px;">
  <div class="col-md-4 col-sm-4" style="text-align:left; padding:20px;">
    <p>SIGN UP OUR NEWSLETTER</p>

    <%= form_tag('emailapi/subscribe', class: "form-inline", method: "post", id: "subscribe", remote: "true", 'data-type' => :json) do -%>
    <div class="input-group">
       <%= email_field(:email, :address, {class: "form-control", id: "email", placeholder: ""})%>
      <span class="input-group-btn">
        <%= button_tag(type: 'submit', class: "btn btn-success para", style:"font-size:14px") do %>
        SIGN UP<% end %>
      </span>
    </div>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <ul class="list-inline" style="padding-top: 25px; padding-bottom: 25px;">
          <li><a href="www.facebook.com"><span class="fa fa-facebook "></span></a></li>
          <li><a href="www.linkedin.com"><span class="fa fa-linkedin "></span></a></li>
          <li><a hret="www.twitter.com"><span class="fa fa-twitter "></span></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div style="border: 1px solid #696969; padding:5px; max-width: 230px;">
          <%= image_tag("tripadvisor.png" ,style:"width: 35px;")  %>&nbsp;&nbsp;
          <%= link_to "Find us on Tripadvisor", "http://http://www.tripadvisor.com.my/Attraction_Review-g189541-d8134844-Reviews-Meet_the_Danes-Copenhagen_Zealand.html",style:"  font-size: 12px; font-weight: 100;" %>
        </div>
    </div>
    </div>
  </div>


  <div class="col-md-4 col-sm-4" style="text-align:left; padding:20px;">
    <p>POPULAR LINKS</p>
    <div style="display:flex">
      <div class="text-left link-sect">
        <%= link_to "Find a Host", experiences_path %><br>
        <%= link_to "Be a Host", new_host_registration_path %><br>
        <%= link_to "How it Works", how_it_works_path %><br>
      </div>
      <div class="text-left link-sect">
        <%= link_to "Press", press_path %><br>
        <%= link_to "Blog", posts_path %><br>
<!--         <%= link_to "Terms of Service", terms_of_service_path %><br>
 -->        <!-- <a href="http://www.meetthelocals.com" target="_blank">Meet The Locals</a> -->
      </div>
    </div>
    
    <br>
  </div>

  <div class="col-md-4 col-sm-4" style="padding:20px;"> 
    <div class="row">
      <a href="/" class="logo-footer">Meet <span>the</span> Danes</a><br><br> 
    </div>
    <div class="row" style="text-align: center;">
           <div style="line-height: 25px;  color: #fff;">
          <a href="tel:+4523284347" >+45 232 84347</a><br></div> 
    <div style="line-height: 25px;  color: #66a422;text-decoration: underline;">
      <a href="mailto:info@meetthedanes.dk">info@meetthedanes.dk</a><br>
      <a href="http://www.meetwithlocals.com" target="_blank">meetwithlocals.com</a>
    </div>
  </div>
  </div>
</div>
  </div> 
</footer>

<script>
  $(document).ready(function(){
    $("#subscribe").on("ajax:success", function(e, data, status, xhr) {
      $('#email-form').append("<li class='signup-notice'>" + xhr.responseJSON.msg + "</li>")
      // alert(xhr.responseJSON.msg);
    });

  });

</script>
