<header class - "navbar navbar-fixed-top navbar inverse">
	<div class = "container">

		<nav>
			<ul class ="nav navbar-nav navbar-right">
				<li><%= link_to "Home" , "#" %></li>
				<li><%= link_to "Be a Host", how_to_be_a_host_path %></li>
				<li><%= link_to "Find a Host", "#" %></li>
				<li><%= link_to "How it Works", how_it_works_path %></li>
				<li><%= link_to "Blog", "#" %></li>
				<li><%= link_to "Sign up", new_host_registration_path %></li>
				<% if current_host %>
					<li><%= link_to "Log out", destroy_host_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Log in", new_host_session_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>