
<nav class="navbar navbar-inverse">
	<div class = "container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-top:25px">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<a href="/" class="navbar-brand" id="logo" style="padding-top:25px">Meet <span>the</span> Danes</a>
    </div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class ="nav navbar-nav navbar-right">

				<li><%= link_to "FIND A HOST", hosts_path %></li>
				<li><%= link_to "BE A HOST", new_host_registration_path %></li>
				<li><%= link_to "HOW IT WORKS", how_it_works_path %></li>
				<li><%= link_to "PARTNER", root_url %></li>
				<li><%= link_to "BLOG", blog_path %></li>

				<% if current_user %>
					<li class ="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><%= "#{current_user.username}" %>
						<span class= "caret"></span></a>
						<ul class ="dropdown-menu" role="menu" style="">
							<% if current_host %>
								<li><%= link_to "Create New Experience", new_experience_path if current_host.host_approved? %></li>
								<li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Bookings", bookings_path %></li>
							<% end %>

							<% if current_admin %>
								<li><%= link_to "Show All Users", admins_path %></li>
								<li><%= link_to "Analytics", "#" %></li>
					      <li><%= link_to "Settings", admin_settings_path %></li>
					      <li><%= link_to "Create New Partner" , "#" %> </li>
							<% end %>

							<% if current_guest %>
							  <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Bookings", bookings_path %></li>
              <% end %>
							  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>
					</li>
					<li><%= link_to "SIGN IN", new_guest_session_path %></li>
					<li><%= link_to "SIGN UP", new_guest_registration_path, :class => 'green-btn' %></li>
				<% end %>

			</ul>
	  </div>
	</div>
</nav>
