<header class - "navbar navbar-fixed-top navbar inverse">
	<div class = "container">

		<nav>
			<ul class ="nav navbar-nav navbar-right">
				<% if current_guest %>
				<li><%= link_to "#{current_guest.email}", "#add_profile_page" %></li>
				<% elsif current_host %>
				<li><%= link_to "#{current_guest.email}", "#add_profile_page" %></li>
				<% end %>
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Be a Host", how_to_be_a_host_path %></li>
				<li><%= link_to "Find a Host", experiences_path %></li>
				<li><%= link_to "How it Works", how_it_works_path %></li>
				<li><%= link_to "Blog", "#blog" %></li>
				<% if current_guest %>
					<li><%= link_to "Log out", destroy_guest_session_path, method: :delete %></li>
				<% elsif current_admin %>
					<li><%= link_to "Log out", destroy_admin_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign up", new_guest_registration_path %></li>
					<li><%= link_to "Log in", new_guest_session_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</header>