
<nav class="navbar navbar-inverse">
	<div class = "container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" style="margin-top:25px">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

			<a href="/" class="navbar-brand" id="logo"><img src="https://s3-ap-southeast-1.amazonaws.com/mtdimages/logo/mtd-logo.png" style="width:200px;"></a>
    </div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class ="nav navbar-nav navbar-right" style="margin-top:10px;">

				<li><%= link_to "FIND A HOST", hosts_path , class: "create-highlight" %></li>
				<li><%= link_to "BE A HOST", how_to_be_a_host_path , class: "create-highlight" %></li>
				<li><%= link_to "HOW IT WORKS", how_it_works_path , class: "create-highlight" %></li>
<!-- 				<li><%= link_to "PARTNER", partners_path %></li> -->
				<li><%= link_to "BLOG", blog_path , class: "create-highlight" %></li>
				

				<% if current_user %>
					<li class ="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true"><%= "#{current_user.username}" %>
						<span class= "caret"></span></a>
						<ul class ="dropdown-menu" role="menu" style="">
							<% if current_host %>
							  <li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Update your Experience", edit_experience_path(current_host.experiences.first) if current_host.experiences.first.present?  %></li>
								<li><%= link_to "Create your Experience", new_experience_path unless current_host.experiences.first.present?  %></li>
								<li><%= link_to "Create Host Party", new_experience_path if current_host.host_approved? %></li>
                <li><%= link_to "Bookings", bookings_path %></li>
							<% end %>

							<% if current_admin %>
								<li><%= link_to "Show All Users", admins_path %></li>
								<li><%= link_to "Show All Bookings", admin_bookings_list_path %></li>
								<li><%= link_to "Edit Site Images", site_images_path %></li>
								<li><%= link_to "Edit Site Texts", static_texts_path %></li>
								<li><%= link_to "Analytics", admin_analytics_path %></li>
					      <li><%= link_to "Settings", admin_settings_path %></li>
<!-- 					      <li><%= link_to "Create New Partner" , new_partner_registration_path %> </li> -->
							<% end %>

							<% if current_guest %>
							  <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Bookings", bookings_path %></li>
              <% end %>
              <% if current_partner %>
              	<li><%= link_to "Profile", current_user %></li>
              <% end %>
							  <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
						</ul>
					</li>
				<% else %>


					<li><%= link_to "SIGN IN", new_guest_session_path ,class: "create-highlight"%></li>
					<li><%= link_to "SIGN UP", new_guest_registration_path, :class => 'green-btn' %></li>
				<% end %>
				<% if current_host || current_guest %>
				
				  <li class = "dropdown"  >
						 <a href="#" class="dropdown-toggle" id = "notification-dropdown"  data-toggle="dropdown" role="button" aria-expanded="true">
							<span class= "badge"><%= current_user.notifications.where(seen: false).count %></span>
								<ul class ="dropdown-menu menubar" role="menu" style="" id = "notification_list">
									<!-- 	This takes all the hosts notifications and takes it from newest first -->
									<% current_user.notifications.reverse.take(10).each do |x| %>
								
										<li> <%= link_to "#{x.content}", booking_path("#{x.type_id}"), :id => "notification-#{x.id}" %></li>
										<% if x.seen == false %>
									
											<!-- 	if there are any unseen notifications, this changes the notification tab and the unseen link red -->
										<script> 
											var id = <%= x.id %>
											$("#badge").css("background-color", "#1abc9c"); 
										  $("#notification-"+id).css("background-color", "#ff4c4c"); 
									  </script>	
			              <% end %>
									<% end %>
									<li><%= link_to "All Notifications", all_notifications_path %></li>
								</ul>
					</li>
			  <% end %>

			</ul>
	  </div>
	</div>
</nav>
