<!DOCTYPE html>
<html>
  <head>
  <!-- Nav bar -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Meet The Danes</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet">

<!--   <link rel="stylesheet" href="fonts/font-awesome.min.css">
 -->
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-61451496-1', 'auto');
      ga('send', 'pageview');

      $(function(){
        window.setTimeout(function() { $(".error_alert").alert('close'); }, 10000);
        window.setTimeout(function() { $(".error_notice").alert('close'); }, 10000);
      });

    </script>


  </head>

  <header class = "navbar navbar-fixed-top navbar-inverse" style="border-color:#222; height:50px">
    <%= render 'layouts/header' %>
  </header>

    <body class="<%= controller_name %> <%= action_name %>" style="padding: 80px 0 0 0">

  <% if notice %>
    <div class="alert alert-success-alt alert-dismissable error_notice">
      <span class="glyphicon glyphicon-certificate"></span>
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <%= notice %>
      <% flash[:notice].clear %>
    </div>
  <% end %>
  <% if alert %>
    <% alert = Array.new(1, flash[:alert]) if (flash[:alert].kind_of?(String) && !flash[:alert].empty?) %>
    <% alert ||= flash[:alert] %>
    <% alert.each do |msg| %>
      <div class="alert alert-danger-alt alert-dismissable error_alert">
        <span class="glyphicon glyphicon-certificate"></span>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <%= msg %>
      </div>
    <% end if alert.kind_of?(Array)%>
    <% flash[:alert].clear %>
  <% end %>

    <%= yield %>
    <div style='float:bottom'>
  	  <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
